<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="admin.css" />
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>

</head>
<body style="background-color:black">
    <div id="page">
        <!-- 사이드바 -->
        <div id="sidebar-all">
            <ul class="sidebar">
                <li class="sidebar-user">
                    <li>Ketchby</li>
                </li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">사용자 관리</a></li>
                <li><a href="#">문의 관리</a></li>
                <li><a href="#">공지사항 관리</a></li>
                <li><a href="#">클래스 관리</a></li>
                <li><a href="#">게시판 관리</a></li>
            </ul>
        </div>
        <!-- /사이드바 -->

        <!-- 본문 -->
        <!-- 본문 헤더-->
        <div id="page-header">

        </div>

        <div id="page-content">
            <div class="box-container">
                <div class="card">
                    <div class="card-header">사용자</div>
                    <div class="card-body">Content 1</div>
                </div>
            </div>
            <div class="box-container">
                <div class="card">
                    <div class="card-header">Header 2</div>
                    <div class="card-body">Content 2</div>
                </div>
            </div>
            <div class="box-container">
                <div class="card">
                    <div class="card-header">Header 3</div>
                    <div class="card-body">Content 3</div>
                </div>
            </div>
            <div class="box-container">
                <div class="card">
                    <div class="card-header">Header 4</div>
                    <div class="card-body">Content 4</div>
                </div>
            </div>
        </div>

        <!-- /본문 -->
    </div>


</body>
</html>

