<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Statistics</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style/dashboard.css">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>
<body>
<div class="container-scroller">
<!-- 사이드바 -->
	<nav id="sidebar-all">
        <ul class="sidebar">
            <li class="sidebar-user">
                Ketchby
            </li>
            <li><a href="/admin/dashboard" id="dashboard">📊 Dashboard</a></li>
            <li><a href="/admin/user" id="user">👤 사용자 관리</a></li>
            <li><a href="/admin/qanda" id="qanda">📧 문의 관리</a></li>
            <li><a href="/admin/notification" id="notification">📢 공지사항 관리</a></li>
			<li class="has-submenu">
			    <a href="#" id="class">📑 클래스 관리</a>
			    <ul class="submenu">
			        <li><a href="/admin/class">기존 클래스</a></li>
			        <li><a href="/admin/classPending">승인 요청된 클래스</a></li>
			    </ul>
			</li>                
			<li><a href="/admin/community" id="community">🧾 커뮤니티 관리</a></li>
        </ul>
    </nav>  
    
    <div id="page" class="page">
        <!-- 본문 헤더-->
        <div id="page-header">
        </div>

        <!-- 본문 메인-->
        <div class="main-wrapper">
             <div class="row">
                <div class="stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>총 사용자 수</h5>
                                <p>user</p>
                            </div>
                            <div class="card-content">
                                <h2 th:text="${totalUsers}"></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stretch-card">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="stretch-card">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="stretch-card">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            <!--신규 가입자 차트-->
            <div class="chart-wrapper">
               <h2>일별 신규 사용자</h2>
                <div class="chart-controls">
                    <input type="date" id="startDate" name="startDate">-
                    <input type="date" id="endDate" name="endDate">

                    <button onclick="dailyUsersData()" id="btnSelect">선택</button>
                </div>
                <div class="chart-container">
                    <canvas id="dailyUsersChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<!--신규 가입자 수 차트-->
<script type="text/javascript">
    var dailyUsersChart = null;

    function createDailyUsersChart(labels, values) {
        var ctx = document.getElementById('dailyUsersChart').getContext('2d');
        
		//차트가 다른 값으로 변경될 때 기존 차트 지우고 새로 덮어씀
        if (dailyUsersChart) {
            dailyUsersChart.destroy(); // Destroy the previous chart if it exists
        }
		
		
		// 차트 그리기
        dailyUsersChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: '일별 신규 가입자수',
                    data: values,
                    backgroundColor: 'rgba(0, 131, 117, 0.2)', 
            		borderColor: 'rgba(0, 131, 117, 1)', 
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                            displayFormats: {
                                day: 'MM-dd',
                            },
                        },
                        title: {
                            display: true,
                            text: 'Date',
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of New Users',
                        },
                    },
                },
            },
        });
    }

    function dailyUsersData() {
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        
        console.log("startDate:", startDate);
    	console.log("endDate:", endDate);

        $.ajax({
            url: "/admin/dailyUsers?startDate=" + startDate + "&endDate=" + endDate,
            type: "GET",
            dataType: "json",
            success: function (data) {
                // Extract labels and values from the data
                var labels = data.map(item => item.regdate);
                var values = data.map(item => item.countaid);

                // Convert count values from string to integers
                values = values.map(value => parseInt(value, 10));

                console.log("Labels:", labels);
                console.log("Values:", values);

                // Call the function to update the chart with the fetched data
                createDailyUsersChart(labels, values);
            },
            error: function (error) {
                console.log("An error occurred:", error);
            }
        });
    }

    // Initial chart creation on page load
    dailyUsersData();

</script>

</body>
</html>