<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert titleㅇ here</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="statistics.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body style="background-color:black" >
<div class="container-scroller">
    <!-- 사이드바 -->
    <nav id="sidebar-all">
        <ul class="sidebar">
            <li class="sidebar-user">
                Ketchby
            </li>
            <li><a href="#">📊 Dashboard</a></li>
            <li><a href="#">👤 사용자 관리</a></li>
            <li><a href="#">📧 문의 관리</a></li>
            <li><a href="#">📢 공지사항 관리</a></li>
            <li><a href="#">🪧 클래스 관리</a></li>
            <li><a href="#">🧾 게시판 관리</a></li>
        </ul>
    </nav>
    <div id="page" class="page">

        <!-- 본문 헤더-->
        <div id="page-header">

        </div>
        <div class="main-wrapper">
            <div class="row">
                <div class="stretch-card">
                    <div class="card">
                        <div class = "card-body">

                        </div>
                    </div>
                </div>
                <div class="stretch-card">
                    <div class="card">
                        <div class = "card-body">
                            <div class = "card-title">
                                <h4>사용자</h4>
                                <p>user</p>
                            </div>
                            <div class = "card-content">
                                <h2>24명</h2>
                                <p>+3.5%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stretch-card">
                    <div class="card">
                        <div class = "card-body">

                        </div>
                    </div>
                </div>
                <div class="stretch-card">
                    <div class="card">
                        <div class = "card-body">

                        </div>
                    </div>
                </div>
            </div>
            <div class="main-chart">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
                <script>
                    const ctx = document.getElementById('myChart');

                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
