<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/style/user.css" />
	<script>
	     $(function(){
	        $(".search-bar input")
	        .focus(function () {
	        $(".header").addClass("wide");
	        })
	        .blur(function () {
	        $(".header").removeClass("wide");
	        });
	    
            $('#open-modal').click(function(e){
                e.preventDefault();
                $('.main-modal').modal("show");
                $("#btnUpdate").css('display', 'inline-block');
                $("#btnDelete").css('display', 'inline-block');
                var no = $('#open-modal').val();
                $.ajax({
					data: {aid: no},
					url: '',
					success: function(m){
						$('#name_').val(m.name_);
					}
				})
            });
            
            $('#btnInsert').click(function(e){
                e.preventDefault();
                $('.main-modal').modal("show");
                $("#btnUpdate").css('display', 'none');
                $("#btnDelete").css('display', 'none');
            });
            
            $("#")
        })
    </script> 
</head>
<body style="background-color:black" >

<div class="container-scroller">
    <!-- 사이드바 -->
    <nav id="sidebar-all">
        <ul class="sidebar">
            <li class="sidebar-user">
                Ketchby
            </li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">사용자 관리</a></li>
            <li><a href="#">문의 관리</a></li>
            <li><a href="#">공지사항 관리</a></li>
            <li><a href="#">클래스 관리</a></li>
            <li><a href="#">게시판 관리</a></li>
        </ul>
    </nav>
    <div id="page" class="page">

        <!-- 본문 헤더-->
        <div id="page-header">

        </div>
        <div class="main-wrapper">
        <div class="main-table">
            <h2>사용자</h2>
            <p th:text="'총 사용자: '+${member}"></p>
          	<div class="app">
                <div id="search5back">
					
					<!-- 칼럼, 검색어로 검색 -->
					<select id="searchColumn" name="column" th:value="${column}">
						<option th:selected="${column}=='all'">all</option>
						<option th:selected="${column}=='aid'">aid</option>
						<option th:selected="${column}=='email'">email</option>
						<option th:selected="${column}=='name_'">name_</option>
					</select>
					
                    	<input th:if="${keyword != null}" th:value="${keyword}" id="search5" name="keyword" type="text" size="40" placeholder="Search Aid"/>
                </div>

                 <!-- 테이블 출력 -->
                <table class="table table-dark table-hover">
                	<thead>
                    <tr>
                        <th>아이디</th>
                        <th>이메일</th>
                        <th>이름</th>
                        <th>상세보기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m:${list}">
                        <td th:text="${m.aid}"></td>
                        <td th:text="${m.email}"></td>
                        <td th:text="${m.name_}"></td>
                        <td id="open-modal" name="open-modal" data-bs-toggle="modal" data-bs-target="#myModal">
                        <span >자세히 보기</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-danger" id="btnInsert" name="btnInsert">추가</button>
            </div>
            <div class="pagingNumber">
	            <th:block th:each="i:${#numbers.sequence(1, totalPage)}">
					<a th:href="@{/admin/user(pageNum=${pageNum}, column=${column}, keyword=${keyword})}" 
					th:text = "${i }" name="pageNum" id="pageNum" class="pagingName"></a>&nbsp;&nbsp;
				</th:block>
			</div>
			<script type="text/javascript">
				$(document).ready(function() {
			        $('.pagingName').click(function(e) {
			            e.preventDefault();
			            var pageNum = $(this).text();
			            var column = $("#searchColumn").val();
			            var keyword = $('#search5').val();
			            location.href = 'user?pageNum=' + pageNum + '&column=' + column + '&keyword=' + keyword;
			        });
			   	 });
				
				
		        
		        function searching(e){
		           let keyword = document.getElementById("search5").value;
		           let column = document.getElementById("searchColumn").value;
		           let pageNum = getParameterByName('pageNum');
		           
		           if (pageNum === null) {
			            pageNum = 1;
			        }
		           console.log('keyword: '+keyword);
		           console.log('column: '+column);
		           console.log('pageNum: '+pageNum);
		           const code = e.code;
				   location.href='user?pageNum=1'+'&column='+column+'&keyword='+keyword;
		        }
		        
		        $('#search5').keydown(function (e) {
						console.log('working');
		            if (e.keyCode == 13) {
						console.log('enter press');
		                e.preventDefault();
		                searching(e);
		            }
		        });
		        
		         // URL에서 파라미터 값을 추출하는 함수
		        function getParameterByName(name) {
		            var url = window.location.href;
		            name = name.replace(/[\[\]]/g, '\\$&');
		            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
		                results = regex.exec(url);
		            if (!results) return null;
		            if (!results[2]) return '';
		            return decodeURIComponent(results[2].replace(/\+/g, ' '));
		        }
		
		    </script>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">이름</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <form>
	        <div class="modal-body">
	            <table class="modal-table">
	                <tr>
	                    <td>이름</td>
	                    <td>아이디</td>
	                </tr>
	                <tr>
	                    <td>
	                        <input class="modal-input" type="text" name="name_">
	                    </td>
	                    <td>
	                        <input class="modal-input" type="text" name="aid">
	                    </td>
	                </tr>
	                <tr>
	                    <td>이메일</td>
	                    <td>레벨</td>
	                </tr>
	                <tr>
	                    <td>
	                        <input class="modal-input" type="text" name="email">
	                    </td>
	                    <td>
	                        <input class="modal-input" type="text" name="level_">
	                    </td>
	                </tr>
	                <tr>
	                    <td>비밀번호</td>
	                    <td>닉네임</td>
	                </tr>
	                <tr>
	                    <td>
	                        <input class="modal-input" type="text" name="pwd">
	                    </td>
	                    <td>
	                        <input class="modal-input" type="text" name="nick">
	                    </td>
	                </tr>
	                <tr>
	                    <td>이미지파일</td>
	                    <td></td>
	                </tr>
	                <tr>
	                    <td class="filebox bs3-primary preview-image">
                            <input class="upload-name" value="파일선택" disabled="disabled" style="width: 200px;">
              
                            <label for="input_file">업로드</label> 
                            <input type="file" id="input_file" class="upload-hidden" name="img"> 
                        </td>

                        <script>
                            $(document).ready(function(){
                            var fileTarget = $('.filebox .upload-hidden');

                                fileTarget.on('change', function(){
                                    if(window.FileReader){
                                        // 파일명 추출
                                        var filename = $(this)[0].files[0].name;
                                    } 

                                    else {
                                        // Old IE 파일명 추출
                                        var filename = $(this).val().split('/').pop().split('\\').pop();
                                    };

                                    $(this).siblings('.upload-name').val(filename);
                                });

                                //preview image 
                                var imgTarget = $('.preview-image .upload-hidden');

                                imgTarget.on('change', function(){
                                    var parent = $(this).parent();
                                    parent.children('.upload-display').remove();

                                    if(window.FileReader){
                                        //image 파일만
                                        if (!$(this)[0].files[0].type.match(/image\//)) return;
                                        
                                        var reader = new FileReader();
                                        reader.onload = function(e){
                                            var src = e.target.result;
                                            parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img src="'+src+'" class="upload-thumb"></div></div>');
                                        }
                                        reader.readAsDataURL($(this)[0].files[0]);
                                    }

                                    else {
                                        $(this)[0].select();
                                        $(this)[0].blur();
                                        var imgSrc = document.selection.createRange().text;
                                        parent.prepend('<div class="upload-display"><div class="upload-thumb-wrap"><img class="upload-thumb"></div></div>');

                                        var img = $(this).siblings('.upload-display').find('img');
                                        img[0].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\""+imgSrc+"\")";        
                                    }
                                });
                            });
                            
                        </script>
	                    <td></td>
	                </tr>
	            </table>
				
	        </div>
 	 	</form>	
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btnUpdate" name="btnUpdate" data-bs-dismiss="modal">수정</button>
          <button type="button" class="btn btn-danger" id="btnDelete" name="btnDelete" data-bs-dismiss="modal">삭제</button>
          <button type="button" class="btn btn-danger" id="btnClose" name="btnClose" data-bs-dismiss="modal">닫기</button>
        </div>
  
      </div>
    </div>
  </div>
</body>
</html>
