<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="./community_detail.css" rel="stylesheet" />
</head>
<body>
<div class="maindiv">
	<div class="titlediv">
		<span class="title">님들 저 이정도면 실력 만이 늘었나요</span>
		<div class="aimage"></div>
		<span class="nick">여매원</span>
		<span class="bdate">07/07</span>
	</div>
	<div class="boardcontent">
		<div class="boardimage"></div>
		<span class="bcontent">어때용??ㅎㅎㅎ 제가 만들었어요 여기서 들은 오프라인 수업으로 실력이 많이 향상되었습니당!!!</span>
	</div>
	<div class="comment_top">
		<span class="detguel">댓글</span>
		<span class="comment_count">31</span>
		<input type="text" name="cocontent" class="cocontent"/>
		<button class="commentBtn">등록</button>
	</div>
	<div class="comment_content_div">
		<div class="comment_content_li">
			<div class="comment_img"></div>
			<div class="comment_nick">박박디라라</div>
			<div class="comment_comment">우와 수업만 들으신 건가요?? 전문가라고 해도 믿겠어요</div>
			<span class="comment_date">07/07</span>
			<span class="dapguel">답글달기</span>
		</div>
	</div>
</div>
</body>
</html>