<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>수정</title>
	<!-- Bootstrap JavaScript -->
	<link rel="stylesheet" th:href="@{/style/footer.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" th:href="@{/style/header.css}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link th:href="@{/style/community_update.css}" rel="stylesheet" />
	<script>
		$(function(){
			$("#uploadFile").change(function(){
				var filePath = $(this).val();
				$("#selectedImagePath").text(filePath);
			})
			
			function filename(){
				var bfname=$("#bfname").val();
				$("#selectedImagePath").text(bfname);
			}
			filename();
			
			$(".filedelete").click(function(){
				$("#selectedImagePath").text("");
				$("#bfname").val("null");
				$("#uploadFile").val("")
			})
			$("#1").click(function(){
				location.href="/club/clubmain";
			})
			$("#2").click(function(){
				location.href="/community/community/1";
			})
			$("#3").click(function(){
				location.href="/notice/noticemain/1";
			})
			$("#4").click(function(){
				location.href="/qanda/qandamain";
			})
		})
	</script>
</head>

<body>
	<header th:replace="~{fragments/header :: headerFragment}"></header>
	
	<div class="maindiv">
		<div class="top-category">
			<p id="1" class="category-text">#소모임</p>
			<p id="2" class="category-text">#커뮤니티</p>
			<p id="3" class="category-text">#공지사항</p>
			<p id="4" class="category-text">#Q&A</p>
		</div>
		<div class="main-community">
		<form action="/community/community_update" method="post" enctype="multipart/form-data">
			<input type="hidden" name="bno" th:value="${bno}" />
			<div class="titlediv">
				<span class="jemok">제목</span>
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="floatingInput" name="btitle" th:value="${b.btitle }">
				</div>
			</div>
			<div class="content">
				<div class="neyoungtab">
					
				<div class="neyongdiv">
					<span class="neyong">내용</span>
				</div>
				<div class="tabdiv">
					<div class="ipryuk">
						<span class="iptyuktext">입력</span>
					</div>
					<div id="selectedImagePath"></div>
					<div class="deleteandfilebtn">
					<span class="filedelete">x삭제</span>
					<label class="btnImg">
						<input type="hidden" name="bfname" id="bfname" th:value="${b.bfname}" />
						<input type="hidden" name="bfname2" id="bfname2" th:value="${b.bfname}" />
						<input type="file" name="uploadFile" id="uploadFile" style="display: none;">
						이미지등록
					</label>
					</div>
				</div>
				</div>
				<div class="content_text">
					<textarea class="bcontent" name="bcontent"  th:value="${b.bcontent}" th:text="${b.bcontent}"></textarea>
				</div>
			</div>
			<input type="submit" value="수정" class="submitBtn" />
-
		</form>
		</div>
	</div>
	<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>

</html>