<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<title>Community</title>
		<link rel="stylesheet" th:href="@{/style/footer.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" th:href="@{/style/header.css}" />
	<link th:href="@{/style/community_detail.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(function () {


			function listComments(bno) {
				$("#comment_content_li").empty();

				var data = {bno: bno};
				url = "/community/community_detail/listcomment";
				$.ajax({
					url: url,
					data: data,
					success: function (arr) {
						$.each(arr, function () {
							var tr = $("<tr></tr>");
							var img = $("<img></img>").attr("src", "/image/" + this.img).addClass("comment_img")
							var td1 = $("<td></td>");
							$(td1).append(img);
							var td2 = $("<td></td>").html(this.nick).addClass("comment_nick");
							var td3 = $("<td></td>").html(this.cocontent).addClass("comment_comment");
							var td4 = $("<td></td>").html(this.codate).addClass("comment_date");
							var td5 = $("<td></td>").addClass("sacje").attr("value", this.cono);

							if (isSameCommentsUser(this.nick)) {
								td5.html("삭제").addClass("clickable");
								td5.click(function () {
									var cono = $(this).attr("value");
									var isConfirmed = confirm("정말로 삭제하시겠습니까?");

									if (isConfirmed) {
										$.ajax({
											url: "/community/community_detail/deleteComments",
											data: {cono:cono},
											success: function (msg) {
												alert(msg+"하였습니다");
												listComments(bno);
											}
										})
									}
								});
							}
							$(tr).append(td1, td2, td3, td4, td5);
							$("#comment_content_li").append(tr);
						});
					}
				});
			}

			function isSameCommentsUser(commentAuthorNick) {
				var sessionId = $("#snick").val(); // 세션에 저장된 닉네임
				var commentsId = commentAuthorNick; // 댓글 작성자의 닉네임

				return sessionId === commentsId;
			}

			$("#commentBtn").click(function () {
				var bno = $("#bno").val();
				var cocontent = $("#cocontent").val();
				var cono = $("#cono").val();
				var aid = $("#aid").val();
				data = {bno: bno, cocontent: cocontent, cono: cono, aid: aid};
				$.ajax({
					url: "/community/community_detail/ajax",
					data: data,
					success: function (re) {
						listComments(bno);
						location.reload();
					}
				})
			})
			var bno = $("#bno").val();
			listComments(bno);

			function isSameUser() {
				var sessionId = $("#snick").val(); // 세션에 저장된 닉네임
				var writerId = $("#boardnick").text(); // 해당 글의 작성자 닉네임

				return sessionId === writerId;
			}
			if (isSameUser()) {
				$("#editDiv, #deleteDiv").show();
			} else {
				$("#editDiv, #deleteDiv").hide();
			}

			$("#delete").click(function () {
				var isConfirmed = confirm("정말로 삭제하시겠습니까?");
				if (isConfirmed) {
					var deleteLink = $(this).attr("href");
					window.location.href = deleteLink;
				} else {
					return false;
				}
			})
			$("#1").click(function(){
				location.href="/club/clubmain";
			})
			$("#2").click(function(){
				location.href="/community/community/1";
			})
			$("#3").click(function(){
				location.href="/notice/noticemain/1";
			})
			$("#4").click(function(){
				location.href="/qanda/qandamain";
			})
		})
	</script>
</head>

<body>
	<header th:replace="~{fragments/header :: headerFragment}"></header>
	<div class="maindiv">
		<div class="top-category">
			<p id="1" class="category-text">#소모임</p>
			<p id="2" class="category-text">#커뮤니티</p>
			<p id="3" class="category-text">#공지사항</p>
			<p id="4" class="category-text">#Q&A</p>
		</div>
		<div class="main-community">
		<div class="titlediv">
			<span class="btitle" th:text="${b.btitle}"></span>
			<div class="nickdate">
				<img th:src="@{'/image/'+${b.img}}" class="img" />
				<span class="nick" th:text="${b.nick}" id="boardnick"></span> <!--작성자 닉네임 -->
				<span class="bdate" th:text="${b.bdate}"></span>
			</div>
		</div>
		<div class="boardcontent">
			<div class="boardimage" th:if="${b.bfname} != null">
<img th:src="@{'/board/'+${b.bfname}}" />
		

			</div>
			<span class="bcontent" th:text="${b.bcontent}"></span>

			<div class="edde">
				<div id="editDiv" style="display: none;">
					<a id="update" th:href="@{'/community/community_update/'+${bno}}">수정</a>
				</div>

				<div id="deleteDiv" style="display: none;">
					<a id="delete" th:href="@{'/community/delete/'+${bno}}">삭제</a>
				</div>
			</div>

		</div>
		<div class="comment_top">
			<div class="comment_1">
				<span class="detguel">댓글</span>
				<span class="comment_count"></span>
			</div>
			<div class="comment_2">
				<input type="text" id="cocontent" name="cocontent" class="cocontent" />
				<input type="hidden" id="cono" name="cono" th:value="${cono}" />
				<input type="hidden" id="aid" name="aid" th:value="${session.a.aid}" />
				<input type="hidden" id="snick" name="snick" th:value="${session.a.nick}" /> <!--세션에 저장된 닉네임 -->
				<input type="hidden" id="bno" name="bno" th:value="${bno}" />
				<button class="commentBtn" id="commentBtn">등록</button>
			</div>
		</div>


		<div class="comment_content_div">
			<table class="comment_content_li" id="comment_content_li">
			</table>
		</div>
		</div>
	</div>
	<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>

</html>