
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.macbook-air-3-7vH {
  padding: 2.9rem 7.5rem 50rem 20.3rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  display: flex;

  .auto-group-5kxr-2nM {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0rem 4.9rem 83.6rem;
    width: calc(100% - 83.6rem);

    .log-in-ZXP {
      color: #000000;
      font-family: Rounded Mplus 1c, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.5rem;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2575;
    }
    .log-out-6XK {
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2575;
      color: #000000;
      font-family: Rounded Mplus 1c, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-9g2h-EtR {
    margin: 0rem 45.4rem 3rem 2.9rem;
    width: calc(100% - 48.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .item-2023-07-24-417-5-BHs {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.8rem;
      width: 10.4rem;
      height: 10.8rem;
    }
    .item--ruo {
      font-size: 6.5rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Mplus 1p Bold, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
    }
  }
  .auto-group-lppp-NdF {
    margin: 0rem 25rem 1.4rem 0rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .item--JWu {
      color: #000000;
      font-family: Rounded Mplus 1c Bold, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 21rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2575;
    }
    .item--d3P {
      font-family: Rounded Mplus 1c Bold, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 19.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
    }
    .item--x5f {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      font-family: Rounded Mplus 1c Bold, 'Source Sans Pro';
    }
  }
  .line-17-H7w {
    width: 83.6rem;
    height: 0.2rem;
    background-color: #000000;
    flex-shrink: 0;
    margin: 0rem 16.6rem 1.1rem 0rem;
  }
  .item--Ckh {
    margin-left: 27.9rem;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Mplus 1p, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
}
