
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.macbook-air-1-FTo {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-pj6v-fGd {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.8rem 2.7rem 9.3rem 23.2rem;
    width: 100%;
    align-items: center;

    .auto-group-lvmk-6FT {
      margin: 0rem 0rem 2.3rem 85.5rem;
      width: calc(100% - 85.5rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .log-in-off {
        flex-shrink: 0;
        margin-right: 2.5rem;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2575;
        color: #000000;
        font-family: Rounded Mplus 1c, 'Source Sans Pro';
        white-space: nowrap;
      }
      .log-out-68y {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.2575;
        color: #000000;
        font-family: Rounded Mplus 1c, 'Source Sans Pro';
      }
    }
    .auto-group-megd-1Fw {
      width: calc(100% - 50.2rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 45.4rem 3rem 4.8rem;

      .item-2023-07-24-417-1-7pm {
        margin-right: 2.8rem;
        width: 10.4rem;
        height: 10.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--Y9P {
        font-size: 6.5rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Mplus 1p Bold, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
      }
    }
    .auto-group-imbj-QhP {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 23.1rem 1.4rem 0rem;

      .item--YHo {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 21rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Rounded Mplus 1c Bold, 'Source Sans Pro';
      }
      .item--Fxu {
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Rounded Mplus 1c Bold, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 19.4rem;
        font-size: 2.4rem;
      }
      .item--BrZ {
        line-height: 1.2575;
        color: #000000;
        font-family: Rounded Mplus 1c Bold, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
      }
    }
    .line-1-7ER {
      margin: 0rem 14.7rem 7.5rem 0rem;
      width: 83.6rem;
      height: 0.2rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-if6d-bQV {
      box-sizing: border-box;
      width: 89.4rem;
      background-position: center;
      flex-shrink: 0;
      margin-right: 12.7rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:66c8a73ac7965fef12d6934befb3db51f5e21ac6');
      border-radius: 5rem;
      padding: 5.9rem 1rem 16.8rem 1rem;

      .item--77w {
        margin-bottom: 1.1rem;
        font-size: 7.5rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Mplus 1p Bold, 'Source Sans Pro';
        white-space: nowrap;
      }
      .line-2-ECZ {
        margin: 0rem 0rem 2.3rem 1.2rem;
        width: 48.1rem;
        height: 0.1rem;
        background-color: #ffffff;
      }
      .item--kwb {
        font-family: Mplus 1p Bold, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 2.2rem;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #ffffff;
      }
    }
  }
  .rectangle-1-mrh {
    width: 100%;
    height: 128rem;
    background-color: #d9d9d9;
    flex-shrink: 0;
  }
}
