
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.macbook-air-5-KZs {
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-8mxb-f7w {
    height: 6.2rem;
    position: absolute;
    top: 36.1rem;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:143:39');
    font-weight: 800;
    color: #ffffff;
    white-space: nowrap;
    align-items: center;
    line-height: 1.2575;
    width: 78.1rem;
    left: 23.8rem;
    font-size: 4.5rem;
    font-family: Mplus 1p, 'Source Sans Pro';
    justify-content: center;
  }
  .auto-group-iaxu-LUy {
    width: 51.9rem;
    height: 10.8rem;
    position: absolute;
    left: 23.8rem;
    top: 7.6rem;
    display: flex;
    align-items: center;

    .item-2023-07-24-417-2-sUu {
      margin-right: 2.8rem;
      width: 10.4rem;
      height: 10.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item--Yb3 {
      font-family: Mplus 1p Bold, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      font-size: 6.5rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
    }
  }
  .item--ePB {
    height: 3.2rem;
    position: absolute;
    top: 27.2rem;
    font-weight: 800;
    color: #ffffff;
    white-space: nowrap;
    width: 9.1rem;
    left: 29rem;
    font-size: 2.5rem;
    line-height: 1.2575;
    font-family: Mplus 1p, 'Source Sans Pro';
  }
  .line-3-Xhs {
    width: 83.6rem;
    height: 0.2rem;
    position: absolute;
    left: 20.9rem;
    top: 25.9rem;
    background-color: #000000;
  }
  .auto-group-sh6d-4xh {
    top: 21.4rem;
    display: flex;
    align-items: center;
    width: 57.8rem;
    height: 3.1rem;
    position: absolute;
    left: 29.6rem;

    .item--o9b {
      flex-shrink: 0;
      margin-right: 21rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      font-family: Rounded Mplus 1c Bold, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--8Bs {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 19.4rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      font-family: Rounded Mplus 1c Bold, 'Source Sans Pro';
    }
    .item--rdf {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #000000;
      font-family: Rounded Mplus 1c Bold, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-ufvd-PNh {
    height: 2.6rem;
    position: absolute;
    left: 104.5rem;
    top: 4.6rem;
    display: flex;
    align-items: center;
    width: 16.6rem;

    .log-in-WiD {
      flex-shrink: 0;
      margin-right: 2.5rem;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2575;
      color: #000000;
      font-family: Rounded Mplus 1c, 'Source Sans Pro';
      white-space: nowrap;
    }
    .log-out-FQu {
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2575;
      color: #000000;
      font-family: Rounded Mplus 1c, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .group-3-bDs {
    vertical-align: top;
    width: 63.3rem;
    height: 32.2rem;
    position: absolute;
    left: 29.6rem;
    top: 46.4rem;
    object-fit: contain;
  }
}
