<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="EUC-KR">
	<title>공지사항</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/style/noticemain.css">
</head>
<script>
	console.log("          ___   .--.    \n" +
            "    .--.-\"   \"-' .- |   \n" +
            "   / .-,`          .'   \n" +
            "   \\   `           \\    \n" +
            "    '.            ! \\   \n" +
            "      |     !  .--.  |  \n" +
            "      \\        '--'  /.____ \n" +
            "     /`-.     \\__,'.'      `\\ \n" +
            "  __/   `\\-.__.-' `\\      /  \n" +
            "  | `---`'-. _/-`     \\----'    _ \n" +
            "  |,-'`  /             |    _.-' `\\ \n" +
            " .'     /              |--'`     / | \n" +
            "/      /\\              `         | |\n" +
            "|   .\\/  \\      .--. __          \\ |\n" +
            "'-'      '._       /  `\\         /\n" +
            "             `\\    '     |------'`\n" +
            "               \\  |      |\n" +
            "                \\        /\n" +
            "                 '._  _.'");
</script>
<body>
	<div th:replace="menu :: head"></div>
	<div class="maindiv">
		<br />
		<div class="gongzi">공지사항</div>
		<br />
		<br />
		<div class="notice">
			<table class="notice_td">
				<tr th:each="n:${list}">
					<td class="notice-td-title">
						<a class="a_title" th:text="${n.noticetitle}" th:href="@{'/notice/notice_detail/'+${n.noticeno}}"></a>
					</td>
					<td class="td-date" th:text="${n.noticedate}"></td>
					<td class="td-author" th:text="${n.noticewriter}"></td>
				</tr>
			</table>
			<div class="pagenum">
				<th:block th:each="i:${#numbers.sequence(1, totalPage)}">
					<a th:href="@{'/notice/noticemain/'+${i}}" th:text="${i}" class="page-number"></a>
				</th:block>
			</div>
		</div>
	</div>
</body>

</html>