<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>공지사항</title>
	<link rel="stylesheet" th:href="@{/style/footer.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" th:href="@{/style/header.css}" />
	<link th:href="@{/style/notice_detail.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(function () {
			$("#1").click(function () {
				location.href = "/club/clubmain";
			})
			$("#2").click(function () {
				location.href = "/community/community/1";
			})
			$("#3").click(function () {
				location.href = "/notice/noticemain/1";
			})
			$("#4").click(function () {
				location.href = "/qanda/qandamain";
			})
		})
	</script>
</head>

<body>
	<header th:replace="~{fragments/header :: headerFragment}"></header>
	<div class="maindiv">
	<div class="top-category">
		<p id="1" class="category-text">#소모임</p>
		<p id="2" class="category-text">#커뮤니티</p>
		<p id="3" class="category-text">#공지사항</p>
		<p id="4" class="category-text">#Q&A</p>
	</div>
	<div  class="main-community">
			<div class="titlediv">
				<span class="noticetitle" th:text="${n.noticetitle}"></span>
				<div class="writerdate">
				<span class="noticewriter" th:text="${n.noticewriter}"></span> <!--작성자 닉네임 -->
				<span class="noticedate" th:text="${n.noticedate}"></span>
				</div>
			</div>
			<div class="noticecontent">
				<span class="noticecontent" th:text="${n.noticecontent}"></span>

			</div>

	</div>
	</div>
	<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>

</html>