@charset "utf-8";
.main {
  gap: 39.589996337890625px;
  top: 347px;
  left: 298px;
  width: 750px;
  display: flex;
  padding: 0 0 39.999969482421875px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.title {
  color: rgba(66, 66, 66, 1);
  height: auto;
  font-size: 23px;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.title_s, .select_s {
  color: rgba(130, 140, 148, 1);
  height: auto;
  font-size: 14px;
  font-style: DemiLight;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: 19.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}

/* .form-select 클래스의 너비를 unset으로 설정하여 부트스트랩 스타일시트의 너비를 무시합니다. */
.form-select {
  height: 45px;
  width: 200px;
  border-color: rgba(234, 235, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.qanda1-input {
  width: 343px;
  display: flex;
  padding: 7px 15px 7px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 235, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.qanda1-input-title{
  width: 700px;
  display: flex;
  padding: 7px 15px 7px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(234, 235, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.text_area{
  width: 700px; /* 원하는 가로 크기로 조정 */
  height: 200px; /* 원하는 세로 크기로 조정 */
  resize: none; /* 사용자가 크기를 조정할 수 없도록 설정 (선택사항) */
  border-color: rgba(234, 235, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

/* 플레이스홀더 스타일 */
.qanda1-input::placeholder,
.qanda1-input-title::placeholder,
.text_area::placeholder {
  color: rgba(189, 189, 189, 1);
}

/* 공백 스타일 */
.form-gap {
  height: 50px;
}

/* 두 개의 입력 필드 사이에 추가적인 공백 스타일 */
.additional-space {
  
  height: 53px;
}
.additional-space-top {
  height: 5px;
}
.check{
  width: 640px;
  height: 216px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: rgba(247, 248, 250, 1);
}
.check_title{
  color: rgba(66, 66, 66, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  font-weight: 700;
  line-height: 19.600000381469727px;
  top: 19px;
  left: 46px;
  display: flex;
  position: absolute;
}
.check_content{
  top: 49px;
  left: 20px;
  width: 600px;
  height: 147px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.check_content {
  white-space: pre-wrap; /* 공백과 줄바꿈을 유지하고 긴 단어는 자동으로 줄바꿈 */
  word-break: break-all; /* 긴 단어를 강제로 줄바꿈 */
  max-width: 100%; /* 부모 요소 너비를 넘지 않도록 설정 */
  top: 30px;
  left: 26px;
  color: rgba(101, 110, 117, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: DemiLight;
  text-align: left;
  font-family: Noto Sans KR;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}

.checkbox{
  height: 16px;
  top: 20px;
  left: 17px;
  width: 30px;
  position: absolute;
}
.form_submit{
  width: 343px;
  padding: 15px 141.9499969482422px 15px 142.0500030517578px;
  border-radius: 4px;
  background-color: rgba(140, 90, 210, 1);
  color: white;
}
.countkor{
  display: flex;
  padding: 0 0 0 660px; /* 원하는 만큼 왼쪽 패딩값을 조정하세요. */
  align-items: flex-start;
  color: rgba(130, 140, 148, 1);
}
.form_submit:hover {
  background-color: rgba(101, 57, 162, 1);
}
.form_submit.disabled {
  background-color: rgba(234, 235, 239, 1);
  cursor: not-allowed;
  pointer-events: none; /* 버튼에 대한 포인터 이벤트 비활성화 */
}