/* 페이지 스타일 */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif; /* Open Sans 폰트 적용 */
}

.container-scroller {
  display: flex;
  position: relative;

}

.class {
  flex: 1; /* 남아있는 공간을 모두 차지하도록 설정 */
  padding-left: 250px;
  background: #000000;
  color: #FFF; /* 글자 색 변경 */
  overflow-y: auto; /* 내용이 많아질 경우 스크롤 생성 */
}

.page{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  paddding-left: 0;
  padding-right: 0;
  transition: all 0.25s ease;
  width: calc(100% - 70px);
}

.main-wrapper{
  background: black;
  padding: 1.875rem 1.75rem;
  width: 100%;
  flex-grow: 1;
}

#page-header {
  font-weight: normal;
  background: #191C24;
  left: 250px;
  -webkit-transition: left 0.25s ease;
}

#page-content {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* 카드가 가로로 꽉 찰 경우 세로로 배치되도록 변경 */
  justify-content: space-around; /* 카드 사이의 간격 균등하게 변경 */
}

/* 사이드바 스타일 */

#sidebar-all {
  min-height: calc(100% - 70px);
  background: #191C24;
  font-weight: normal;
  padding: 0;
  width: 250px;
  z-index: 11;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  }

.sidebar {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar li {
  text-indent: 1.5em;
  line-height: 2.8em;
}

.sidebar li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.sidebar li a:hover {
  color: #fff;
  background: #008375;
}

.sidebar > .sidebar-user {
  font-size: 1.3em;
  line-height: 3em;
}


.main-table{
  padding: 1.75rem 1.5625rem;
  background: #191C24;
}

.main-table h2{
  font-weight: bold;
}
.main-table h2, p{
  color: white;
}

.main-table th {
  color: #8457D5 !important;
  border: none !important;
}

.main-table td {
  border: none !important;
  border-color: #191C24 !important;
}