		html {
			line-height: 1.15;
		}

		body {
			margin: 0;
		}

		* {
			box-sizing: border-box;
			border-width: 0;
			border-style: solid;
		}

		p,
		li,
		ul,
		pre,
		div,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		figure,
		blockquote,
		figcaption {
			margin: 0;
			padding: 0;
		}

		button {
			background-color: transparent;
		}

		button,
		input,
		optgroup,
		select,
		textarea {
			font-family: inherit;
			font-size: 100%;
			line-height: 1.15;
			margin: 0;
		}

		html {
			font-family: Inter;
			font-size: 16px;
		}

		body {
			font-weight: 400;
			font-style: normal;
			text-decoration: none;
			text-transform: none;
			letter-spacing: normal;
			line-height: 1.15;
			color: var(--dl-color-gray-black);
			background-color: var(--dl-color-gray-white);

		}

		button,
		select {
			text-transform: none;
		}

		button,
		[type="button"],
		[type="reset"],
		[type="submit"] {
			-webkit-appearance: button;
		}

		button::-moz-focus-inner,
		[type="button"]::-moz-focus-inner,
		[type="reset"]::-moz-focus-inner,
		[type="submit"]::-moz-focus-inner {
			border-style: none;
			padding: 0;
		}

		button:-moz-focus,
		[type="button"]:-moz-focus,
		[type="reset"]:-moz-focus,
		[type="submit"]:-moz-focus {
			outline: 1px dotted ButtonText;
		}

		a {
			color: inherit;
			text-decoration: inherit;
		}

		input {
			padding: 2px 4px;
		}

		img {
			display: block;
		}

		html {
			scroll-behavior: smooth
		}

		.classreservation-container {
			width: 100%;
			display: flex;
			overflow: auto;
			min-height: 100vh;
			align-items: center;
			flex-direction: column;
		}

		.classreservation-classreservation {
			width: 100%;
			height: 1361px;
			display: flex;
			position: relative;
			align-items: flex-start;
			flex-shrink: 0;
			background-color: rgba(255, 255, 255, 1);
		}

		.classreservation-btnconfirm {
			padding: 1em;
			top: 1213px;
			left: 521px;
			width: 210px;
			height: 60px;
			color: rgba(255, 255, 255, 1);
			font-size: 18px;
			font-style: Bold;
			justify-content: center !important;
			align-content: center;
			font-weight: 700;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
			border-width: 0px;
			background-color: rgba(0, 131, 117, 1);
		}

		.classreservation-text {
			top: 18px;
			left: 0px;
			color: rgba(255, 255, 255, 1);
			width: 210px;
			height: auto;
			position: absolute;
			font-size: 18px;
			font-style: Bold;
			text-align: center;
			font-family: Droid Sans;
			font-weight: 700;
			line-height: normal;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-div-main {
			top: 172px;
			left: 0px;
			width: 1280px;
			height: 1006px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-divstep3 {
			top: 700px;
			left: 262px;
			width: 730px;
			height: 306px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-price {
			top: 235px;
			left: 0px;
			width: 730px;
			height: 55px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-frame {
			top: 0px;
			left: 0px;
			width: 730px;
			height: 55px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
			border-color: rgba(235, 235, 235, 1);
			border-style: solid;
			border-width: 0 0 1px;
		}

		.classreservation-text02 {
			top: 11px;
			left: 640px;
			color: rgba(32, 32, 32, 1);
			width: auto;
			height: auto;
			position: absolute;
			font-size: 16px;
			font-style: Bold;
			text-align: left;
			font-family: Droid Sans;
			font-weight: 700;
			line-height: 38px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-notice {
			top: 48px;
			left: 0px;
			width: 730px;
			height: 187px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-frame1 {
			top: 0px;
			left: 0px;
			width: 730px;
			height: 168px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
			border-color: rgba(235, 235, 235, 1);
			border-style: solid;
			border-width: 0 0 1px;
		}

		.classreservation-text04 {
			left: 2px;
			color: rgba(32, 32, 32, 1);
			width: 700px;
			bottom: -7px;
			height: auto;
			position: absolute;
			font-size: 12px;
			font-style: Regular;
			text-align: left;
			font-family: Droid Sans;
			font-weight: 400;
			line-height: 20px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-text15 {
			top: 11px;
			left: 2px;
			color: rgba(32, 32, 32, 1);
			width: auto;
			height: auto;
			position: absolute;
			font-size: 16px;
			font-style: Bold;
			text-align: left;
			font-family: Droid Sans;
			font-weight: 700;
			line-height: 38px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-heading2 {
			top: 0px;
			left: 0px;
			width: 730px;
			height: 43px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
			border-color: rgba(51, 51, 51, 1);
			border-style: solid;
			border-width: 0 0 2px;
		}

		.classreservation-text17 {
			color: rgba(34, 34, 34, 1);
			width: auto;
			height: auto;
			position: absolute;
			font-size: 23px;
			font-style: Bold;
			text-align: left;
			font-family: Droid Sans;
			font-weight: 700;
			line-height: normal;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-divstep2 {
			top: 449px;
			left: 260px;
			width: 730px;
			height: 320px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-pay {
			top: 66px;
			left: 0px;
			width: 735px;
			height: 197px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-kakao {
			top: 142px;
			left: 0px;
			width: 735px;
			height: 55px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
			border-color: rgba(235, 235, 235, 1);
			border-style: solid;
			border-width: 0 0 1px;
		}

		.classreservation-spaninput {
			top: 0px;
			left: 0px;
			width: 73px;
			display: flex;
			overflow: hidden;
			position: absolute;
			align-items: flex-start;
		}

		.classreservation-label {
			width: 72.72000122070312px;
			height: 36px;
			display: flex;
			position: relative;
			align-items: flex-start;
			flex-shrink: 0;
			background-color: rgba(255, 255, 255, 1);
		}

		.classreservation-kakaoimg {
			top: -1px;
			left: 24px;
			width: 70px;
			height: 38px;
			position: absolute;
		}

		.classreservation-toss {
			top: 71px;
			left: 0px;
			width: 730px;
			height: 55px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
			border-color: rgba(235, 235, 235, 1);
			border-style: solid;
			border-width: 0 0 1px;
		}

		.classreservation-label1 {
			top: 0px;
			left: 0px;
			width: 73px;
			height: 36px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
			background-color: rgba(255, 255, 255, 1);
		}

		.classreservation-tossimg {
			top: 3px;
			left: 24px;
			width: 110px;
			height: 33px;
			position: absolute;
		}

		.classreservation-naver {
			top: 0px;
			left: 0px;
			width: 730px;
			height: 55px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
			border-color: rgba(235, 235, 235, 1);
			border-style: solid;
			border-width: 0 0 1px;
		}

		.classreservation-radio {
			top: 0px;
			left: 0px;
			width: 79px;
			display: flex;
			overflow: hidden;
			position: absolute;
			align-items: flex-start;
		}

		.classreservation-label2 {
			width: 79px;
			height: 36px;
			display: flex;
			position: relative;
			align-items: flex-start;
			flex-shrink: 0;
			background-color: rgba(255, 255, 255, 1);
		}

		.classreservation-naverimg {
			top: 0px;
			left: 25px;
			width: 75px;
			height: 34px;
			position: absolute;
		}

		.classreservation-message {
			top: 9px;
			left: 115px;
			width: 84px;
			height: 17px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-text19 {
			left: 17px;
			color: rgba(51, 102, 204, 1);
			right: -10px;
			width: auto;
			height: auto;
			position: absolute;
			font-size: 13px;
			font-style: Regular;
			text-align: left;
			font-family: Droid Sans;
			font-weight: 400;
			line-height: normal;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-spanicon {
			top: 0px;
			left: 0px;
			width: 14px;
			height: 14px;
			position: absolute;
		}

		.classreservation-heading21 {
			top: 0px;
			left: 0px;
			width: 730px;
			height: 43px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
			border-color: rgba(51, 51, 51, 1);
			border-style: solid;
			border-width: 0 0 2px;
		}

		.classreservation-text21 {
			color: rgba(34, 34, 34, 1);
			width: auto;
			height: auto;
			position: absolute;
			font-size: 23px;
			font-style: Bold;
			text-align: left;
			font-family: Droid Sans;
			font-weight: 700;
			line-height: normal;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-divstep1 {
			top: 155px;
			left: 262px;
			width: 599px;
			height: 175px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-name {
			gap: 24px;
			top: 53px;
			left: 11px;
			width: 588px;
			display: flex;
			position: absolute;
			align-items: center;
		}

		.classreservation-nametxt {
			width: 172.66000366210938px;
			height: 17.25px;
			display: flex;
			position: relative;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-text23 {
			top: -2px;
			color: rgba(45, 42, 38, 1);
			width: auto;
			height: auto;
			position: absolute;
			font-size: 15px;
			font-style: DemiLight;
			text-align: left;
			font-family: Noto Sans KR;
			font-weight: 400;
			line-height: 17.25px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-text24 {
			color: rgba(45, 42, 38, 1);
		}

		.classreservation-inputname {
			width: 391.3399963378906px;
			height: 48px;
			display: flex;
			position: relative;
			align-items: flex-start;
			flex-shrink: 0;
			border-color: rgba(233, 233, 233, 1);
			border-style: solid;
			border-width: 1px;
			border-radius: 2px;
			background-color: rgba(255, 255, 255, 1);
		}

		.classreservation-divplaceholder {
			top: 13.5px;
			left: 17px;
			width: 357px;
			height: 21px;
			display: flex;
			overflow: hidden;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-text25 {
			color: rgba(204, 204, 204, 1);
			width: auto;
			height: auto;
			position: absolute;
			font-size: 15px;
			font-style: DemiLight;
			text-align: left;
			font-family: Noto Sans KR;
			font-weight: 400;
			line-height: normal;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-phone {
			gap: 24px;
			top: 123px;
			left: 9px;
			width: 588px;
			height: 52px;
			display: flex;
			position: absolute;
			align-items: center;
			flex-shrink: 0;
		}

		.classreservation-people {
			gap: 24px;
			top: 202px;
			left: 9px;
			width: 588px;
			height: 52px;
			display: flex;
			position: absolute;
			align-items: center;
			flex-shrink: 0;
		}

		.classreservation-phonetxt {
			width: 172.66000366210938px;
			height: 17.25px;
			display: flex;
			position: relative;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-peopletxt {
			width: 172.66000366210938px;
			height: 17.25px;
			display: flex;
			position: relative;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-text27 {
			top: -2px;
			color: rgba(45, 42, 38, 1);
			width: auto;
			height: auto;
			position: absolute;
			font-size: 15px;
			font-style: DemiLight;
			text-align: left;
			font-family: Noto Sans KR;
			font-weight: 400;
			line-height: 17.25px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-text55 {
			top: -2px;
			color: rgba(45, 42, 38, 1);
			width: auto;
			height: auto;
			position: absolute;
			font-size: 15px;
			font-style: DemiLight;
			text-align: left;
			font-family: Noto Sans KR;
			font-weight: 400;
			line-height: 17.25px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-text28 {
			color: rgba(45, 42, 38, 1);
		}


		.classreservation-input {
			width: 391.3399963378906px;
			height: 48px;
			display: flex;
			position: relative;
			align-items: flex-start;
			flex-shrink: 0;
			border-color: rgba(233, 233, 233, 1);
			border-style: solid;
			border-width: 1px;
			border-radius: 2px;
			background-color: rgba(255, 255, 255, 1);
		}


		.classreservation-divplaceholder1 {
			top: 13.5px;
			left: 17px;
			width: 357px;
			height: 21px;
			display: flex;
			overflow: hidden;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-text29 {
			color: rgba(204, 204, 204, 1);
			width: auto;
			height: auto;
			position: absolute;
			font-size: 15px;
			font-style: DemiLight;
			text-align: left;
			font-family: Noto Sans KR;
			font-weight: 400;
			line-height: normal;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-text31 {
			color: rgba(34, 34, 34, 1);
			width: 132px;
			height: auto;
			position: absolute;
			font-size: 23px;
			font-style: Bold;
			text-align: left;
			font-family: Droid Sans;
			font-weight: 700;
			line-height: normal;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-divtitle {
			top: 11px;
			left: 262px;
			width: 719px;
			height: 85px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classNick {
			top: 69px;
			position: inherit;
			left: 128px;
		}

		.classreservation-text33 {
			top: 29px;
			left: 128px;
			color: rgba(51, 51, 51, 1);
			width: 609px;
			height: auto;
			position: absolute;
			font-size: 23px;
			font-style: Regular;
			text-align: left;
			font-family: Inter;
			font-weight: 400;
			line-height: 30px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-frame10 {
			top: 0px;
			left: 128px;
			width: 153px;
			height: 15px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-text35 {
			float: left;
			color: rgba(102, 102, 102, 1);
			width: 24px;
			height: auto;
			display: block;
			font-size: 17px;
			font-style: Regular;
			text-align: center;
			font-family: Inter;
			font-weight: 400;
			line-height: 19.5px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-text36 {
			color: rgba(102, 102, 102, 1);
			width: auto;
			height: auto;
			display: block;
			float: left;
			font-size: 12px;
			font-style: Regular;
			text-align: left;
			font-family: Inter;
			font-weight: 400;
			line-height: 19.5px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-text38 {
			display: block;
			float: left;
			color: rgba(102, 102, 102, 1);
			width: auto;
			height: auto;
			font-size: 12px;
			font-style: Regular;
			text-align: left;
			font-family: Inter;
			font-weight: 400;
			line-height: 19.5px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-divheader {
			top: 0px;
			left: 0px;
			width: 1280px;
			height: 172px;
			display: flex;
			position: absolute;
			align-items: center;
			flex-shrink: 0;
			flex-direction: column;
			background-color: rgba(255, 255, 255, 1);
		}

		.classreservation-link {
			width: 1280px;
			display: flex;
			padding: 12.979999542236328px 816.780029296875px 14.020000457763672px 817.219970703125px;
			align-items: flex-start;
			flex-shrink: 0;
			background-color: rgba(0, 131, 117, 1);
		}

		.classreservation-divlogin {
			width: 1280px;
			display: flex;
			padding: 0 360px 1px;
			position: relative;
			align-items: flex-start;
			flex-shrink: 0;
			border-color: rgba(242, 242, 242, 1);
			border-style: solid;
			border-width: 0 0 1px;
		}

		.classreservation-text40 {
			top: 9px;
			left: 1148px;
			color: rgba(153, 153, 153, 1);
			width: auto;
			height: auto;
			position: absolute;
			font-size: 13px;
			font-style: DemiLight;
			text-align: left;
			font-family: Noto Sans KR;
			font-weight: 400;
			line-height: normal;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-text42 {
			top: 9px;
			left: 1207px;
			color: rgba(153, 153, 153, 1);
			width: auto;
			height: auto;
			z-index: 1;
			position: absolute;
			font-size: 13px;
			font-style: DemiLight;
			text-align: left;
			font-family: Noto Sans KR;
			font-weight: 400;
			line-height: normal;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-divcategory {
			gap: 445.80999755859375px;
			width: 1284px;
			height: 86px;
			display: flex;
			padding: 12.5px 140px 12.5px 44px;
			position: relative;
			align-items: center;
			flex-shrink: 0;
			justify-content: space-between;
		}

		.classreservation-logo {
			width: 186px;
			height: 65px;
			border-width: 0px;
		}

		.classreservation-menu {
			left: 0px;
			right: 0px;
			width: 952px;
			bottom: 22px;
			height: 42px;
			margin: auto;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-link1 {
			top: 5px;
			left: 144.75px;
			width: 82px;
			display: flex;
			padding: 0 0 0.6900005340576172px;
			position: absolute;
			align-items: flex-start;
		}

		.classreservation-text44 {
			color: rgba(45, 42, 38, 1);
			height: auto;
			font-size: 18px;
			font-style: Bold;
			text-align: left;
			font-family: Noto Serif KR;
			font-weight: 700;
			line-height: 20.700000762939453px;
			border-width: 0px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-div {
			top: 2px;
			left: 82.9697265625px;
			width: 6px;
			height: 6px;
			z-index: 1;
			position: absolute;
			border-radius: 3px;
		}

		.classreservation-link2 {
			top: 8px;
			left: 269.75px;
			width: 41px;
			display: flex;
			padding: 0 0 0.6900005340576172px;
			position: absolute;
			align-items: flex-start;
		}

		.classreservation-text46 {
			color: rgba(45, 42, 38, 1);
			height: auto;
			font-size: 18px;
			font-style: Bold;
			text-align: left;
			font-family: Noto Serif KR;
			font-weight: 700;
			line-height: 20.700000762939453px;
			border-width: 0px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-div1 {
			top: 0px;
			left: 40px;
			width: 6px;
			height: 6px;
			z-index: 1;
			position: absolute;
			border-radius: 3px;
		}

		.classreservation-link3 {
			top: 5px;
			left: 365.75px;
			width: 64px;
			height: 20.690000534057617px;
			display: flex;
			position: absolute;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-text48 {
			top: 1px;
			color: rgba(45, 42, 38, 1);
			height: auto;
			position: absolute;
			font-size: 18px;
			font-style: Bold;
			text-align: left;
			font-family: Noto Serif KR;
			font-weight: 700;
			line-height: 20.700000762939453px;
			border-width: 0px;
			font-stretch: normal;
			text-decoration: none;
		}

		.classreservation-div2 {
			top: 2px;
			left: 69px;
			width: 6px;
			height: 6px;
			position: absolute;
		}

		.classreservation-frame1 {
			width: 9px;
			height: 6px;
			display: flex;
			overflow: hidden;
			position: relative;
			align-items: flex-start;
			flex-shrink: 0;
		}

		.classreservation-image {
			left: 262px;
			width: 116px;
			height: 124px;
			position: absolute;
			object-fit: cover;
		}