@charset "EUC-KR";

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Pretendard-Regular', 'sans-serif';
	height: 1800px;
}

.maindiv {
	width: 100%;
	padding: 5rem 10rem 3rem 15rem;
	display: inline-flex;
	justify-content: center;
}

#jemok {
	width: 730px;
	height: 41px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	font-weight: bold;
	font-size: 25px;
}

#selectedImagePath {
	width: 1px;
	margin: 15px 0px 0px 6px;
}


.cbtitle {
	width: 730px;
	height: 42px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	border-color: rgba(229, 229, 229, 1);
	border-style: solid;
	border-width: 1px;
	background-color: rgba(255, 255, 255, 1);
}

#category {
	width: 682px;
	height: 32px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	font-size: 25px;
	font-weight: bold;
}

.categorydiv {
	margin-top: 20px;
	gap: 20px;
	width: 731px;
	height: 32px;
	display: flex;
	align-items: flex-start;
	margin-bottom: 30px;
}

#bcano {
	width: 153px;
	padding: 6px 13px;
	border-color: rgba(232, 232, 232, 1);
	background-color: rgba(248, 248, 248, 1);
}

#scano {
	width: 153px;
	padding: 6px 13px;
	border-color: rgba(232, 232, 232, 1);
	background-color: rgba(248, 248, 248, 1);
}

.neyong {
	width: 730px;
	height: 43px;
	display: flex;
	align-items: flex-start;
	border-color: rgba(51, 51, 51, 1);
	border-style: solid;
	border-width: 0 0 2px;
	font-size: 25px;
	font-weight: bold;
}

.tabdiv {
	width: 730px;
	height: 46px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	border-color: rgba(187, 187, 187, 1);
	border-style: solid;
	border-width: 0 0 1px;
	margin: 15px 0px;
}

.ipryuk {
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 163px;
	height: 46px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	border-color: rgba(34, 34, 34, 1);
	border-style: solid;
	border-width: 1px 1px 0;
	background-color: rgba(255, 255, 255, 1);
}

.iptyuktext {
	top: 5px;
	left: 50px;
	width: 56px;
	font-size: 15px;
	font-style: Bold;
	text-align: center;
	font-weight: 700;
	line-height: 44px;
}

.btnImg {
	width: 125px;
	border: 1px solid rgba(187, 187, 187, 1);
	line-height: 27px;
	background-color: white;
	cursor: pointer;
	padding: 5px 10px;
	text-align: center;

}

.btnImg input[type="file"] {
	display: none;
}

.btnImg:hover {
	background-color: #E4E4E4;
}


.deleteandfilebtn {
	margin-left: 230px;
	gap: 30px;
	margin-left: 350px;
	display: flex;
}

.toptitle {
	margin-bottom: 30px;
}

.content_text {
	margin-top: 10px;
	width: 100%;
	height: 100%x;
	display: flex;
	position: relative;
	align-items: flex-start;
	flex-shrink: 0;
}

.cbcontent {
	width: 730px;
	height: 470px;
	resize: none;
	border-color: rgba(248, 248, 248, 1);
	background-color: rgba(248, 248, 248, 1);
	margin-bottom: 25px;
}

.hmang {
	width: 730px;
	height: 43px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	border-color: rgba(51, 51, 51, 1);
	border-style: solid;
	border-width: 0 0 2px;
	font-size: 25px;
	font-weight: bold;
}

.loccategory {
	margin-top: 20px;
	display: flex;
	gap: 20px;
	margin-bottom: 30px;
}

.bloca {
	width: 153px;
	padding: 6px 13px;
	border-color: rgba(232, 232, 232, 1);
	background-color: rgba(248, 248, 248, 1);
}

.sloca {
	width: 153px;
	padding: 6px 13px;
	border-color: rgba(232, 232, 232, 1);
	background-color: rgba(248, 248, 248, 1);
}

.membercount {
	gap: 30px;
	display: flex;
	align-items: flex-start;
	border-color: rgba(235, 235, 235, 1);
	border-style: solid;
	border-width: 0 0 1px;
	padding: 0 0 10px 0;
}

.inoyun {
	top: 17px;
	font-style: Bold;
	font-weight: 700;
	line-height: 38px;
}

#cbpeople {
	width: 140px;
	height: 36px;
	display: flex;
	overflow: hidden;
	align-items: flex-start;
	flex-shrink: 0;
	background-color: #EAEAEA;
	border: none;
}

.closeaccount {
	gap: 30px;
	width: 730px;
	height: 55px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	border-color: rgba(235, 235, 235, 1);
	border-style: solid;
	border-width: 0 0 1px;
	padding: 20px 0 0 0;
}

.mozip {
	top: 17px;
	font-style: Bold;
	font-weight: 700;
	line-height: 38px;
}

#cbclsdate {
	top: 18px;
	left: 126px;
	width: 150px;
	height: 31px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	border-color: rgba(102, 102, 102, 1);
	border-style: solid;
	border-width: 1px;
	font-size: 20px;
}

.submit {
	margin-top: 40px;
	margin-left: 258px;
	width: 210px;
	height: 60px;
	font-size: 18px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 131, 117, 1);
	font-weight: 700;
}

.filedelete {
	margin-top: 8px;
	width: 30%;
}

.top-category {
	width: 15%;
	margin: 0 !important;
	padding: 3.6rem 0 0 0 !important;
}

.category-text {
	font-size: 30px;
	margin-bottom: 20px;
}

.category-text:hover {
	color: rgba(154, 154, 154, 1);
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.main-community {
	width: 70%;
	margin: 0 !important;
	padding: 0 !important;

}