@charset "EUC-KR";

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
.cntcppeople{
	margin-top: -5px;
}
body {
	font-family: 'Pretendard-Regular', 'sans-serif'
}

.maindiv {
	width: 100%;
	padding: 1rem;
	display: block;
	justify-content: flex-start
}

#cbimg {
	width: 100%;
	height: 300px;
}

.maincontentdiv {
	transform: scale(0.9);
	width: 100%;
}

.top {
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin-top: 15px;
}

.top-right {
	display: block;
	margin-top: 15px;
	margin-left: 15px;
}

.top-right-text {
	margin-top: 30px;
	display: flex;
	gap: 15px;
}

.img {
	width: 80px;
	height: 80px;
	border-radius: 33.84000015258789px;
}

.cbtitle {
	font-size: 30px;
	font-weight: 700;
	line-height: 26px;
}

#bangjang {
	color: rgba(153, 153, 153, 1);
	font-size: 24px;
	line-height: 12px;
}

.nick {
	height: auto;
	font-size: 24px;
	line-height: 12px;
	margin-right: 10px;
}

.category {
	color: rgba(153, 153, 153, 1);
	height: auto;
	font-size: 20px;
	line-height: 12px;
	margin-left: 400px;
}

.cnt {
	font-size: 25px;
}

.cbpeople {
	color: rgba(153, 150, 150, 1);
	font-size: 25px;
}

.content {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.cbcontent {
    width: 40%;
	margin-top: 30px;
	font-size: 20px;
}

.jangso {
	margin-top: 30px;
	font-size: 25px;
	font-weight: bold;
}

.blocname {
	font-size: 20px;
	margin-top: 10px;
}

.mozip {
	font-size: 25px;
	font-weight: bold;
	margin-top: 25px;
}

.cbclsdate {
	font-size: 20px;
	margin-top: 15px;
}

.somoim {
	margin-top: 40px;
	font-size: 25px;
	font-style: Bold;
	font-weight: 700;
	line-height: 24px;
}

.clubreccomand {
	width: 1181px;
	height: 167px;
	justify-content: space-between;
	display: flex;
	margin: 15px;
}

.rec {
	width: 571px;
	height: 165px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-color: rgba(233, 233, 233, 1);
	border-style: solid;
	border-width: 0.5px;
	border-radius: 12px;
}


.Btn {
	font-size: 20px;
	width: 300px;
	height: 50px;
	color: white;
	display: flex;
	padding: 13px 40px;
	align-items: center;
	border-radius: 8px;
	justify-content: center;
	background-color: rgba(0, 131, 117, 1);
	margin-top: 50px;
	margin-left: 400px;
	margin-bottom: 100px;
}

.disabled-button {
	color: rgba(130, 140, 148, 1);
	color: white;
}

.recimg {
	width: 143px;
	height: 126px;
	border-radius: 16px;
	margin-left: 10px;
	margin-top: 20px;
}

.reccategory {
	height: 23px;
	display: flex;
	align-items: flex-start;
	border-radius: 16px;
	font-size: 20px;
	margin-left: 170px;
	margin-top: -123px;
}

.rectitle {
	width: 302px;
	font-size: 24px;
	display: flex;
	margin-left: 170px;
	margin-top: 10px;
	font-weight: bold;
}

.recpeople {
	font-size: 16px;
	text-align: left;
	font-family: Inter;
	font-weight: 700;
	line-height: 40px;
	font-stretch: normal;
	display: flex;
	margin-left: 170px;
	margin-top: 0px;
}

.recbclsdate {
	font-size: 16px;
	text-align: left;
	font-weight: 700;
	font-stretch: normal;
	display: flex;
	margin-left: 450px;
	margin-top: -30px;
}

.edde {
	margin-top: 20px;
	display: flex;
	margin-left: 0px;
	font-size: 25px;
}

.edde a {
	text-decoration: none;
	color: inherit;
}

.edde a:hover {
	color: rgba(110, 70, 190, 1);

}

.recommandclub {
	display: flex;
	flex-direction: column;
}

#update {
	margin-right: 20px;
}