@charset "EUC-KR";

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Pretendard-Regular', 'sans-serif';
	height: 1800px;
}

.maindiv {
	width: 100%;
	padding: 5rem 10rem 3rem 15rem;
	display: inline-flex;
	justify-content: center;
}

#selectedImagePath {
	width: 1px;
	margin: 8px 0px 0px 6px;
}

.titlediv {
	height: 83px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	flex-direction: column;
}

.content {
	width: 730px;
	display: block;
	align-items: flex-start;
	flex-shrink: 0;

}

.jemok {
	width: 730px;
	height: 41px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	font-weight: bold;
	font-size: 25px;
}

.form-control {
	width: 730px;
	height: 42px;
	border-color: rgba(229, 229, 229, 1);
	border-style: solid;
	border-width: 1px;
	background-color: rgba(255, 255, 255, 1);
}

.form-control::placeholder,
.floatingInput,
.bcontent::placeholder {
	color: rgba(189, 189, 189, 1);
}

.neyongdiv {
	height: 46px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	border-color: rgba(187, 187, 187, 1);
	border-style: solid;
	border-width: 0 0 1px;
}

.neyong {
	color: rgba(34, 34, 34, 1);
	width: 105px;
	height: auto;
	font-size: 23px;
	font-style: Bold;
	text-align: left;
	font-family: Droid Sans;
	font-weight: 700;
	line-height: normal;
	font-stretch: normal;
	text-decoration: none;
}

.neyoungtab {
	margin-top: 50px;
	display: block;
}

.tabdiv {
	width: 730px;
	height: 46px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	border-color: rgba(187, 187, 187, 1);
	border-style: solid;
	border-width: 0 0 1px;
	margin: 15px 0px;
}

.ipryuk {
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 163px;
	height: 46px;
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	border-color: rgba(34, 34, 34, 1);
	border-style: solid;
	border-width: 1px 1px 0;
	background-color: rgba(255, 255, 255, 1);
}

.iptyuktext {
	top: 5px;
	left: 50px;
	width: 56px;
	font-size: 15px;
	font-style: Bold;
	text-align: center;
	font-weight: 700;
	line-height: 44px;
}

.deleteandfilebtn {
	gap: 30px;
	margin-left: 360px;
	display: flex;
}

.btnImg {
	width: 125px;
	border: 1px solid rgba(187, 187, 187, 1);
	line-height: 27px;
	background-color: white;
	cursor: pointer;
	padding: 5px 10px;
	text-align: center;
}


.btnImg:hover {
	background-color: #E4E4E4;
}

.content_text {
	margin-top: 10px;
	width: 730px;
	height: 679px;
	display: flex;
	position: relative;
	align-items: flex-start;
	flex-shrink: 0;
}

.bcontent {
	width: 730px;
	height: 679px;
	resize: none;
	border-color: rgba(248, 248, 248, 1);
	background-color: rgba(248, 248, 248, 1);
}

.submitBtn {
	margin-top: 30px;
	margin-left: 320px;
	width: 120px;
	height: 44px;
	display: flex;
	border-radius: 6px;
	background-color: rgba(0, 131, 117, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	line-height: 24px;
	padding: 5px 0 0 36px;
}

.submitBtn:hover {
	background-color: rgba(0, 102, 89, 1);
}

.filedelete {
	margin-top: 8px;
}

.top-category {
	width: 20%;
	margin: 0 !important;
	padding: 3.6rem 0 0 0 !important;
}

.category-text {
	font-size: 30px;
	margin-bottom: 20px;
}

.category-text:hover {
	color: rgba(154, 154, 154, 1);
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.main-community {
	width: 70%;
	margin: 0 !important;
	padding: 0 !important;

}