@charset "EUC-KR";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{ font-family:'Pretendard-Regular', 'sans-serif';
height: 1800px;}
.maindiv {
width: 100%;
    padding: 5rem 10rem 3rem 15rem;
    display: inline-flex;
    justify-content: center;
}

.titlediv {
	display: block;
}
.nickdate{
	margin-top: 20px;
}
.btitle {
	font-size: 25px;
	font-weight: 700;
}

.img {
	top: 85px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50px;
	background-color: rgba(245, 245, 245, 1);
}

.nick {
	height: auto;
	font-size: 15px;
	font-weight: 700;
	margin-right: 10px;
}

.bdate {
	color: rgba(101, 110, 117, 1);
	height: auto;
	font-size: 15px;
	font-weight: 400;
}

.boardcontent {
	margin-top: 40px;
	width: 941px;
	height: auto;
	display:block;
	align-items: flex-start;
	flex-shrink: 0;
}

.boardimage {
	background-color: white;
	width: 421px;
	height: 332px;
	overflow: hidden;
}

.boardimage img {
	width: 421px;
	height: 332px;
	object-fit: contain;
}

.bcontent {
top: 351px;
    padding: 50px 0px;
    font-size: 20px;
    line-height: 42px;
}


.detguel {
	height: auto;
	font-size: 20px;
	font-weight: 700;
}


.comment_count {
	left: 66px;
	color: rgba(140, 90, 210, 1);
	height: auto;
	position: absolute;
	font-size: 30px;
	font-weight: 700;
}

.cocontent {
font-size: 20px;
height: 30px;
    width: 650px;
    display: flex;
    padding: 10px 31px 10px 17px;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(218, 221, 224, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.commentBtn {
	width: 120px;
	border-radius: 6px;
	background-color: rgba(140, 90, 210, 1);
	color: white;
	font-size: 20px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

}

.commentBtn:hover {
	background-color: rgba(110, 70, 190, 1);
}

.comment_content_div {
	width: 767px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
	flex-shrink: 0;
	height: auto;
}

.comment_content_li {
	width: 90%;
}

.comment_img {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: rgba(110, 70, 190, 1);
}

.comment_nick {
	left: 42px;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}

.comment_comment {
	left: 250px;
	height: auto;
	font-size: 20px;
	line-height: 24px;
}

.comment_date {
	left: 750px;
	color: rgba(130, 140, 148, 1);
	height: auto;
	font-size: 12px;
	line-height: 20px;
}

.sacje {
	left: 604px;
	color: rgba(130, 140, 148, 1);
	height: auto;
	line-height: 20px;
}

td,
th {
	padding: 15px;
	/* 원하는 여백 크기로 설정하세요 */
}
.top-category {
	width: 15%;
    margin: 0 !important;
    padding: 3.6rem 0 0 0 !important;
}

.category-text {
    font-size: 30px;
    margin-bottom: 20px;
}

.category-text:hover{
	color: rgba(154, 154, 154, 1);
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.main-community {
	transform: scale(0.9);
	width: 70%;
    margin: 0 !important;
    padding: 0 !important;
	
}
.edde {
	display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
}
#update{
	margin-right: 20px;
}
.edde a {
	text-decoration: none;
	color: inherit;
}
.edde a:hover {
	color: rgba(110, 70, 190, 1);

}
.comment_top{
	display: block;
	margin-bottom: 30px;
}
.comment_2{
	display: flex;
	gap: 20px;
}
.comment_1{
	margin-bottom: 25px;
}
