.file-list {
    height: 200px;
    overflow: auto;
    border: 1px solid #989898;
    padding: 10px;
}
.file-list .filebox p {
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
.file-list .filebox .delete i{
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M4.25 7.25a.75.75 0 0 0 0 1.5h7.5a.75.75 0 0 0 0-1.5h-7.5Z"></path><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-1.5 0a6.5 6.5 0 1 0-13 0 6.5 6.5 0 0 0 13 0Z"></path></svg>');
    margin-left: 4px;
     width: 16px;
     height: 16px;
     display: inline-block;
     background-size: contain;
     background-repeat: no-repeat;
}

.b {
	border: solid 1px black;
}

.file-label {
	margin-top: 20px;
	background-color: #5b975b;
	color: #fff;
	text-align: center;
	padding: 5px;
	width: 30%;
	height: 40px;
	border-radius: 6px;
	cursor: pointer;
}



