@charset "EUC-KR";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{ font-family:'Pretendard-Regular', 'sans-serif'}
.maindiv {
	width: 100%;
	padding: 5rem 10rem 30rem 15rem;
	display: flex;
	justify-content: center;
}

.writerdate{
	    margin-top: 20px;
}

.titlediv {
	width: 941px;
	height: 140px;
	display: block;
	align-items: flex-start;
	flex-shrink: 0;
}

.noticetitle {
	font-size: 24px;
	font-weight: 700;
}


.noticewriter {
	margin-right: 10px;
	font-size: 20px;
	font-weight: 700;
}

.noticedate {
	color: rgba(101, 110, 117, 1);
	font-size: 20px;
	font-weight: 400;
}

.noticecontent {
	    width: 60%;
    font-size: 20px;
    line-height: 42px;
}
.top-category {
	width: 15%;
	margin: 0 !important;
	padding: 3.6rem 0 0 0 !important;
}

.category-text {
	font-size: 30px;
	margin-bottom: 20px;
}

.category-text:hover {
	color: rgba(154, 154, 154, 1);
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.main-community {
	width: 70%;
	margin: 0 !important;
	padding: 0 !important;

}