<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/style/footer.css}" />
</head>

<body>

	<footer class="footer-footer" id="footer-footer" th:fragment="footerFragment">
		<div class="footer-contain">
			<div class="col">
				<h1></h1>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>


			</div>
			<div class="col">
				<h1 id="footer-title" class="qanda"><a href="/qanda/qandamain">자주 묻는 질문 ></a></h1>
				<ul>
					<li><b style="color: #8C5AD2;">2023-0818</b>
						<p style="margin: 0;margin-top: 3px;font-size: 10px;">09:00~18:00</p>
					</li>
					<li>
						<p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px;">평일: 전체 문의 상담 가능</p>
					</li>
					<li>
						<p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px;">주말,공휴일 : 클래스 개설/취소 문의에
							한해 전화 상담 가능</p>
					</li>
					<li></li>
					<li style="border: 1px solid rgb(218, 221, 224);
							    padding-left: 7px;
							    width: 75px;
							    color: #8C5AD2;
							    border-radius: 10%;"><a href="/qanda/qanda_open" class="email">이메일 문의</a></li>
				</ul>
			</div>
			<div class="col">
				<h1 id="title">회사 소개</h1>
				<ul>
					<li>
						<p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px;"><b>주소</b></p>
					</li>
					<li>
						<p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px; margin-top: -5px;">
							서울특별시 마포구 월드컵북로 21 풍성빌딩</p>
					</li>
					<li>
						<p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px;"><b>Fax</b></p>
					</li>
					<li>
						<p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px; margin-top: -5px;">
							02-334-5405</p>
					</li>
					<li></li>
				</ul>
			</div>
			<div class="col">
				<h1 id="title">Company Info</h1>
				<ul>
					<li><p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px;"><b>사업자번호</b></p></li>
					<li><p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px; margin-top: -5px;">
							214-85-29296</p></li>
					<li><p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px;"><b>대표</b></p></li>
					<li><p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px; margin-top: -5px;">
							이아현</p></li>
					<li><p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px;"><b>개인정보처리관리책임자</b></p></li>
					<li><p style="margin: 0;color: black;letter-spacing: -0.5px;font-size: 12px; margin-top: -5px;">
							강현서</p></li>
					<li style=" width: 500px; margin-left: 100%;font-size: 10px;">Copyright 2023. keychby, Co., Ltd. All rights reserved.</li>
				</ul>
			</div>
			<div class="col" style="margin-top: 15px;">
				<h1></h1>
				<ul>
					<li><a href="/notice/noticemain" style="margin: 0;letter-spacing: -0.5px;font-size: 12px;">공지사항</a></li>
					<li><a href="/qanda/qandamain" style="margin: 0;letter-spacing: -0.5px;font-size: 12px;">버그제보</a></li>
					<li><a href="/notice/notice_detail/40010" style="margin: 0;letter-spacing: -0.5px;font-size: 12px;">채용</a></li>
				</ul>
			</div>
			<div class="col social">
				<h1></h1>
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="footer-clearfix"></div>
		</div>
	</footer>
</body>

</html>