<!doctype html>
<html xmls:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" th:href="@{/style/footer.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" th:href="@{/style/header.css}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf" th:content="${_csrf.token}"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<title>Login</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="http://developers.kakao.com/sdk/js/kakao.js"></script>
	<script src=" https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script>

		$(function () {
			$("#openID").click(function (event) {
				event.preventDefault();
				$("#findID").modal("show");

			});
			$("#openPwd").click(function (event) {
				event.preventDefault();
				$("#findPwd").modal("show");

			});
			var email;
			var auth = 0;
			$("#btn_idcheck").click(function () {
				id = $("#id_pwd").val();
				console.log("id :", id);
				$.ajax({
					url: '/ajax/idCheck',
					method: 'GET',
					data: {id: id},
					success: function (data) {
						if (data === "") {
							alert("존재하지 않는 아이디입니다.")
						} else if (data != id) {
							alert("아이디가 일치하지 않습니다.")
						} else {
							id = data
							auth += 1;
						}
					},
					error: function (error) {
						// 오류 처리
						console.error('Error:', error);
					}
				});

			})

			$("#btn_emailcheck").click(function () {
				email = $("#email").val()
				console.log(email);
				$.ajax({
					url: '/ajax/duplicateEmail',
					data: {email: email},
					success: function (email2) {
						console.log("email:", email2)
						if (email2 === "") {
							alert("아이디와 일치하지않는 이메일 입니다!")
						} else {
							$("#box_check").css("display", "block")
							console.log("email check 동작함!")
							$.ajax({
								url: '/ajax/emailCheck',
								method: 'GET',
								data: {email: email},
								success: function (data) {
									authNum = data
								},
								error: function (error) {
									// 오류 처리
									console.error('Error:', error);
								}
							}); // end email Check ajax
						}

					}
				})

			}); // end btn_check email
			$("#btn_emailcheck2").click(function () {
				email = $("#email2").val()
				console.log("email", email);
				var id_pwd = $("#id_pwd").val();
				console.log("id", id_pwd);
				$.ajax({
					url: '/ajax/emailCheckWithEmail',
					data: {email: email, aid: id_pwd},
					success: function (email2) {
						console.log("email:", email2)
						if (email2 === "") {
							alert("존재하지 않는 이메일 입니다!")
						} else {
							$("#box_check2").css("display", "block")
							console.log("email check 동작함!")
							$.ajax({
								url: '/ajax/emailCheck',
								method: 'GET',
								data: {email: email},
								success: function (data) {

									authNum = data
								},
								error: function (error) {
									alert("아이디와 비밀번호가 일치하지않습니다!")
								}
							}); // end email Check ajax
						}

					}
				})

			}); // end btn_check email
			$(".btn_close").click(function () {
				$("#email").val("");
			})
			$("#btnCheckNUM").click(function (event) {
				var userNum = $("#checkNUM").val()
				if (authNum == userNum) {
					alert("인증되었습니다!");
					auth += 1;
					event.preventDefault();
					$.ajax({
						url: '/ajax/getID',
						method: 'GET',
						data: {email: email},
						success: function (id) {
							$("#id").val(id);
						},
						error: function (error) {
							// 오류 처리
							console.error('Error:', error);
						}
					});
				} else {
					alert("다시 인증해주세요!")
					auth = 0;
					event.preventDefault();
				}
			});
			$("#btnCheckNUM2").click(function (event) {
				var userNum = $("#checkNUM2").val()
				if (authNum == userNum) {
	
						alert("일치합니다!")
						$("#rpwd").css("display", "block")
					} else {
					alert("다시 인증해주세요!")
					auth = 0;
					event.preventDefault();
				}
			});

			if (auth == 2) {
				$("#changePwd").css("display", "block");
			}

			$("#reset").click(function () {
				var new_pwd = $("#new_pwd").val();
				var id_pwd = $("#id_pwd").val();

				$.ajax({
					url: '/ajax/resetpwd',
					data: {pwd: new_pwd, aid: id_pwd},
					success: function () {
						alert("비밀번호를 변경하였습니다 !")
						 modal.style.display = "none";
					}
				})

			})

		})

	</script>
	<style>
		.loginBody {
			width: 300px;
			height: 300px;
			margin: 0 auto;
			margin-top: 25vh;
			transform: translateY(-50%);
		}

		.div_login {
			margin-top: 16px;
			width: 300px;
		}

		#box_check {
			display: none;
		}
	</style>
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
	<header th:replace="~{fragments/header :: headerFragment}"></header>
	<div class="loginBody">
		<img src="/image/ketchbyLogo.png" alt="" style="left: 10px;" />
		<form action="/account/login" method="post">
			<div class="mb-3">
				<label class="form-label">ID</label>
				<input type="text" class="form-control" name="username" placeholder="ID">
			</div>
			<label class="form-label">Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password">
			<div class="div_login">
				<input type="submit" class="btn" value="로그인"
					style=" width: 300px; color: white;   font-size: 15px;   background-color: rgba(45, 42, 38, 1);    border-radius: 56px;">
			</div>
			<div class="div_login">
				<a href="/oauth2/authorization/kakao">
					<img src="/image/kakao_login_large_wide.png" style="width: 300px; height: 36.5px;"
						alt="Kakao Login">
				</a>
				<a id="openID">아이디 찾기</a>
				<a id="openPwd">비밀번호 찾기</a>
			</div>

		</form>
	</div>



	<!-- 아이디 찾기 모달  -->
	<div class="modal" tabindex="-1" id="findID">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">아이디 찾기</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<div class="mb-3">
						<label class="form-label">Email</label>
						<input type="text" class="form-control" name="email" id="email" placeholder="Email">
						<button class="btn btn-primary" style=" border-color: #008375; background-color: #008375;"
							id="btn_emailcheck" type="button">Email Check</button>
					</div>
					<div id="box_check">
						<label class="small mb-1" for="inputEmailAddress">Verification</label>
						<input class="form-control" type="text" id="checkNUM">
						<button class="btn btn-primary" style=" border-color: #008375; background-color: #008375;"
							id="btnCheckNUM">확인</button>
					</div>
					<div class="mb-3">
						<label class="form-label">ID</label>
						<input type="text" class="form-control" id="id" placeholder="This is your ID">

					</div>

				</div>


			</div>
		</div>
	</div>
	<!-- 아이디 찾기 모달 끝  -->

	<!-- 비밀번호 찾기 모달 -->
	<div class="modal" tabindex="-1" id="findPwd">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">비밀번호 찾기</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<div class="mb-3">
						<label class="form-label">ID</label>
						<input type="text" class="form-control" name="id" id="id_pwd" placeholder="ID">

					</div>
					<div class="mb-3">
						<label class="form-label">Email</label>
						<input type="text" class="form-control" name="email" id="email2" placeholder="Email">
						<button class="btn btn-primary" style=" border-color: #008375; background-color: #008375;"
							id="btn_emailcheck2" type="button">Email Check</button>
					</div>
					<div id="box_check2" style="display: none;">
						<label class="small mb-1" id="auth" for="inputEmailAddress">Verification</label>
						<input class="form-control" type="text" id="checkNUM2">
						<button class="btn btn-primary" style=" border-color: #008375; background-color: #008375;"
							id="btnCheckNUM2">확인</button>
					</div>
					<div class="mb-3" style="display: none;" id="rpwd">
						<label class="form-label">ID</label>
						<input type="password" class="form-control" id="new_pwd" placeholder="new password">
						<input type="password" class="form-control" placeholder="check your new password">
						<button class="btn btn-primary" style=" border-color: #008375; background-color: #008375;"
							id="reset">변경</button>
					</div>

				</div>


			</div>
		</div>
	</div>
	<!-- 비밀번호 찾기 모달 끝 -->
	<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>

</html>