<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ketchby</title>
<link href="/style/classmain.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery.min.js"></script>
</head>
<body>
<div class="contents">
    <h1>취미</h1>
    <p>ketchby와 함께 시작해보세요</p>
    <div class="service-searcher searcher">
        <form class="form-group-lg">
            <div class="input-group">
                <input type="text" placeholder="어떤 분야의 클래스를 찾으시나요?" autocomplete="off" class="form-control p2">
                <span class="input-group-append">
                     <button type="submit" class="btn btn-primary btn-md">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0iI0Q4RDhEOCIgZmlsbC1vcGFjaXR5PSIwIiBkPSJNMCAwaDE4djE4SDB6Ii8+CiAgICAgICAgPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTE0Ljk0NCAxMy44ODdsNC44MzcgNC44MzhhLjc0Ny43NDcgMCAxIDEtMS4wNTYgMS4wNTZsLTQuODM4LTQuODM3YTguNDU4IDguNDU4IDAgMSAxIDEuMDU3LTEuMDU3em0tMS41MDUtLjU2M2E2Ljk2NCA2Ljk2NCAwIDEgMC0uMTE0LjExNC43NTUuNzU1IDAgMCAxIC4xMTQtLjExNHoiLz4KICAgIDwvZz4KPC9zdmc+Cg==" class="search-icon">
                        <span class="hidden-xs">고수찾기</span>
                    </button>
                </span>
            </div>
        </form>
        <div class="service-searcher-typehead" style="display: none; width: 360px;">
            <ul></ul>
        </div>
    </div>
</div>



<!-- 카테고리 -->
<ul class="main-category">
  <li class="category-item">
    <a href="/classmain" class="category-link" data-category="all">
      <div class="category-icon">
        <img th:src="@{/class/hobbies.png}" />
        <p>전체</p>
      </div>
    </a>
  </li>
  <li class="category-item">
    <a href="/classmain?bcaname=요리/공예" class="category-link" data-category="cooking">
      <div class="category-icon">
        <img th:src="@{/class/cooking.png}" />
        <p>요리/공예</p>
      </div>
    </a>
  </li>
  <li class="category-item">
    <a href="/classmain?bcaname=외국어" class="category-link" data-category="languages">
      <div class="category-icon">
        <img th:src="@{/class/language.png}" />
        <p>외국어</p>
      </div>
    </a>
  </li>
  <li class="category-item">
    <a href="/classmain?bcaname=스포츠" class="category-link" data-category="sports">
      <div class="category-icon">
        <img th:src="@{/class/sports.png}" />
        <p>스포츠</p>
      </div>
    </a>
  </li>
  <li class="category-item">
    <a href="/classmain?bcaname=음악" class="category-link" data-category="music">
      <div class="category-icon">
        <img th:src="@{/class/music.png}" />
        <p>음악</p>
      </div>
    </a>
  </li>
  <li class="category-item">
    <a href="/classmain?bcaname=미술" class="category-link" data-category="art">
      <div class="category-icon">
        <img th:src="@{/class/art.png}" />
        <p>미술</p>
      </div>
    </a>
  </li>
</ul>

<div class="filter-and-button">
    <div class="container-filter">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                id="dropdown-button-1">
            레벨
        </button>
        <select class="dropdown-menu" id="a_level">
            <option class="dropdown-item">lv.1</option>
            <option class="dropdown-item">lv.2</option>
            <option class="dropdown-item">lv.3</option>
        </select>

        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                id="dropdown-button-2" style="margin-left:10px;">
            클래스 타입
        </button>
        <select class="dropdown-menu" id="cl_level">
            <option class="dropdown-item">입문</option>
            <option class="dropdown-item">초급</option>
            <option class="dropdown-item">중급</option>
            <option class="dropdown-item">고급</option>
        </select>

        <form action="classopen.do?a_no=${a_no}" method="POST" enctype="multipart/form-data">
            <button type="submit" class="openClass">클래스 개설</button>
        </form>
    </div>
</div>

<div class="container" id="section1">
    <div class="cards-container">
        <div class="cards-wrapper">
            <th:block th:each="m : ${classMain}">
                <div class="card">
                    <div class="card-img">
                        <img class="cardimg" th:src="@{'class/' + ${m.climg}}">
                        <button class="clbtn" th:text="${m.cllevel}"></button>
                        <button class="abtn" th:text="${m.cltype}"></button>
                    </div>
                    <div class="card-info">
                        <h4 class="card-category" th:text="${m.bcaname + ' > ' + m.scaname}"></h4>
                        <a th:href="@{'classdetail.do?cl_no=' + ${m.clno}}" class="card-title"
                            th:text="${m.cltitle}"></a>
                        <p class="card-addr" th:text="${m.claddr}"></p>
                        <div class="card-price" th:text="${m.clprice}+'원'"></div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>
