<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<title>Login</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="http://developers.kakao.com/sdk/js/kakao.js"></script>
	<script>
		Kakao.init("7c248b2a7ecace1d70680b17adec6fb8");
			function kakaologin(){
				Kakao.Auth.loginForm({
					scope:"profile_nickname,account_email",
					success:function(){
						Kakao.API.request({
							url:"/v2/user/me",
							success:function(res){
								var name = res.kakao_account.profile.nickname;
								var email = res.kakao_account.email;
								console.log(name);
								console.log(email);
								alert(name)
								location.href = "/kakaologin/"+name+"/"+email;
							}
						})
					}
				})
			}
	</script>
	<style>
		.loginBody {
			width: 300px;
			height:300px;
			margin: 0 auto;
			margin-top: 50vh;
			transform: translateY(-50%);
		}

		.div_login {
			margin-top: 16px;
			width: 300px;
		}
	</style>
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
	<div class="loginBody">
		<img src="/image/ketchbyLogo.png" alt="" style="left: 10px;" />
		<form action="/login" method="post">
			<div class="mb-3">
				<label class="form-label">ID</label>
				<input type="text" class="form-control" name="username" placeholder="ID">
			</div>
			<label class="form-label">Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password">
			<div class="div_login">
				<input type="submit" class="btn" value="로그인"
					style=" width: 300px; color: white;   font-size: 15px;   background-color: rgba(45, 42, 38, 1);    border-radius: 56px;">
			</div>
			<div class="div_login">
				<a href="javascript:kakaologin()">
				<!--	<img src="/image/kakao_login_large_wide.png" style="width: 300px; height: 36.5px;" alt="Kakao Login">-->
				카카오 로그인
				</a>
			</div>

		</form>
	</div>
</body>

</html>