<!DOCTYPE html>
<html xmlns="">

<head>
	<meta charset="UTF-8">
	<title>Ketchby</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<title>Bootstrap Example</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<style>
		.card {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.card-body {
			width: 800px;
		}

		.btn {
			background-color: #008375;
			color: white;
		}

		.table-bordered {
			border: none;
		}

		.table-bordered td,
		.table-bordered th {
			border: none;
		}
	</style>
	  <script>
        function showTab(tabId) {
            // 모든 탭 컨텐츠를 숨김
            var tabContents = document.getElementsByClassName('tab-content');
            for (var i = 0; i < tabContents.length; i++) {
                tabContents[i].style.display = 'none';
            }

            // 모든 탭 버튼에서 'active' 클래스 제거
            var tabButtons = document.getElementsByClassName('tab-button');
            for (var i = 0; i < tabButtons.length; i++) {
                tabButtons[i].classList.remove('active');
            }

            // 선택된 탭 컨텐츠를 보이도록 설정
            var selectedTab = document.getElementById(tabId);
            selectedTab.style.display = 'block';

            // 선택된 탭 버튼에 'active' 클래스 추가
            var selectedTabButton = document.querySelector('[onclick="showTab(\'' + tabId + '\')"]');
            selectedTabButton.classList.add('active');
        }
    </script>
</head>

<body>
	<div style="width: 100%; height: 100%;">
		<div class="card">
			<div class="card-body">
				<table class="table table-bordered" style="border-color: white; border: none; margin-top: 30px;">
					<tr style="border: none;">
						<td rowspan="4" style="text-align: center; border: none;"><img class="img-circle"
								src="/image/ahyeon_change.png" style="width: 170px; height: 170px;" alt="" /></td>
					</tr>
					<tr style="border: none;">
						<td colspan="4" style="text-align: center; border: none;">
							<h4 class="card-title">오리는덕덕s</h4>
						</td>
					</tr>
					<tr style="border: none;">
						<td style="text-align: center; border: none;">팔로우</td>
						<td style="text-align: center; border: none;">119</td>
						<td style="text-align: center; border: none;">팔로잉</td>
						<td style="text-align: center; border: none;">1232</td>
					</tr>
					<tr style="border: none;">
						<td colspan="2" style="text-align: center; border: none;"><button class="btn">팔로우</button></td>
						<td colspan="2" style="text-align: center; border: none;"><button class="btn">메일 문의</button>
						</td>
					</tr>
				</table>
			</div>

			<div class="p-3 m-0 border-0 bd-example m-0 border-0" style="position: relative;top:100px;">
				<ul class="nav nav-tabs" style="position: absolute; bottom: 0;">
					<li class="nav-item">
						<!-- 첫 번째 탭 아이템에 대한 데이터 태그(data-toggle)와 데이터 타겟(data-target) 추가 -->
						<a class="nav-link active" aria-current="page" data-toggle="tab" data-target="#tab-content-1"
							href="#">Active</a>
					</li>
					<li class="nav-item">
						<!-- 두 번째 탭 아이템에 대한 데이터 태그(data-toggle)와 데이터 타겟(data-target) 추가 -->
						<a class="nav-link" data-toggle="tab" data-target="#tab-content-2" href="#">Link</a>
					</li>
					<li class="nav-item">
						<!-- 세 번째 탭 아이템에 대한 데이터 태그(data-toggle)와 데이터 타겟(data-target) 추가 -->
						<a class="nav-link" data-toggle="tab" data-target="#tab-content-3" href="#">Link</a>
					</li>
					<li class="nav-item">
						<!-- 네 번째 탭 아이템에 대한 데이터 태그(data-toggle)와 데이터 타겟(data-target) 추가 -->
						<a class="nav-link disabled" data-toggle="tab" data-target="#tab-content-4"
							href="#">Disabled</a>
					</li>
				</ul>

				<!-- 탭 아이템에 대응하는 컨텐츠 추가 -->
				<div class="tab-content">
					<!-- 첫 번째 탭 아이템에 대한 컨텐츠 -->
					<div id="tab-content-1" class="tab-pane fade show active">
						<img src="image/ahyeon_change.jpg" class="rounded mx-auto d-block" alt="...">
					</div>
					<!-- 두 번째 탭 아이템에 대한 컨텐츠 -->
						<img src="image/ahyeon_change.jpg" class="rounded mx-auto d-block" alt="...">
					<div id="tab-content-2" class="tab-pane fade">
						<img src="image/ahyeon_change.jpg" class="rounded mx-auto d-block" alt="...">
						<!-- 두 번째 탭 아이템의 컨텐츠 내용 -->
					</div>
					<!-- 세 번째 탭 아이템에 대한 컨텐츠 -->
					<div id="tab-content-3" class="tab-pane fade">
						<img src="image/ahyeon_change.jpg" class="rounded mx-auto d-block" alt="...">
						<!-- 세 번째 탭 아이템의 컨텐츠 내용 -->
					</div>
					<!-- 네 번째 탭 아이템에 대한 컨텐츠 -->
					<div id="tab-content-4" class="tab-pane fade">
						<img src="image/ahyeon_change.jpg" class="rounded mx-auto d-block" alt="...">
						<!-- 네 번째 탭 아이템의 컨텐츠 내용 -->
					</div>
				</div>

				<!-- 부트스트랩 및 jQuery 스크립트 링크 추가 -->
				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
			</div>
		</div>

	</div>
</body>

</html>