<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign up</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<style>
		#box_check {
			display: none;
		}
		#sp_pwd {color:red}
	</style>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
		$(function () {
			//삭제 확인
			$("#deleteAccountForm").submit(function(event) {
            if (!confirm("정말로 탈퇴하시겠습니까?")) {
                event.preventDefault(); // 폼 제출을 막습니다.
            }
        	});
			
			//삭제 이유
			$("#reason").click(function() {
		        $("#selectReason").show();
		    });
			//장소1 선택
			$("#bloc1").change(function(){
			
					let blocno=$(this).val();
					let url="/join/slocation?blocno="+blocno;
					$.ajax({
						url:url,
						success:function(arr){
							var sloc1 = $("#sloc1");
		                    sloc1.empty(); 
		
		                    $.each(arr, function(index, slocation) {
		                        var option = $("<option></option>").attr("value", slocation.slocno).text(slocation.slocname);
		                        sloc1.append(option);
		                    });
						}
					})
			})
			//장소2 선택
			$("#bloc2").change(function(){
			
					let blocno=$(this).val();
					let url="/join/slocation?blocno="+blocno;
					$.ajax({
						url:url,
						success:function(arr){
							var sloc2 = $("#sloc2");
		                    sloc2.empty(); 
		
		                    $.each(arr, function(index, slocation) {
		                        var option = $("<option></option>").attr("value", slocation.slocno).text(slocation.slocname);
		                        sloc2.append(option);
		                    });
						}
					})
			})
			//취미1 선택
			$("#bca1").change(function(){
			
					let bcano=$(this).val();
					let url="/join/scategory?bcano="+bcano;
					$.ajax({
						url:url,
						success:function(arr){
							var sca1 = $("#sca1");
		                    sca1.empty(); 
		
		                    $.each(arr, function(index, scategory) {
		                        var option = $("<option></option>").attr("value", scategory.scano).text(scategory.scaname);
		                        sca1.append(option);
		                    });
						}
					})
			})
			//취미2 선택
			$("#bca2").change(function(){
			
					let bcano=$(this).val();
					let url="/join/scategory?bcano="+bcano;
					$.ajax({
						url:url,
						success:function(arr){
							var sca2 = $("#sca2");
		                    sca2.empty(); 
		
		                    $.each(arr, function(index, scategory) {
		                        var option = $("<option></option>").attr("value", scategory.scano).text(scategory.scaname);
		                        sca2.append(option);
		                    });
						}
					})
			})
			
			
			var authNum;
			var auth = 1;

			$("#f").submit(function (event) {
				if (auth === 1) {
					// 인증이 성공한 경우 폼을 제출합니다.
					// 이때, 서버로 데이터가 전송됩니다.
					return true; // 기본 동작 실행 (폼 제출)
				} else {
					// 인증이 실패한 경우 폼 제출을 막습니다.
					
					return false; // 폼 제출 취소
				}
			});


			$("#btn_check").click(function () {
				var nick = $("#nick").val()
				$.ajax({
					url: '/nickCheck',
					method: 'GET',
					data: {nick: nick},
					success: function (data) {
						alert(data);
					},
					error: function (error) {
						// 오류 처리
						console.error('Error:', error);
					}
				});
			})

			$("#pwd_check").on('keyup', function () {
				var pwd_origin = $("#pwd_origin").val();
				var pwd_check = $(this).val();

				if (pwd_origin === pwd_check) {
					$("#sp_pwd").text("비밀번호가 같습니다.");
				} else {
					$("#sp_pwd").text("비밀번호가 다릅니다.");
				}
			});

			$("#btnCheckNUM").click(function (event) {
				var userNum = $("#checkNUM").val()
				if (authNum == userNum) {
					alert("인증되었습니다!");
					auth = 1;
					event.preventDefault();
				} else {
					alert("다시 인증해주세요!")
					auth = 0;
					event.preventDefault();
				}
			})

		})

	</script>
</head>

<body>
	<main>
		<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
			<div class="container-xl px-4">
				<div class="page-header-content">
					<div class="row align-items-center justify-content-between pt-3">
						<div class="col-auto mb-3">
							<h1 class="page-header-title">
								<div class="page-header-icon">
									<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
									<circle cx="12" cy="7" r="4"></circle>
									</svg>
								</div>
								Update Information
							</h1>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Main page content-->
		<div class="container-xl px-4 mt-4">
			<form action="/updateAccount" method="post" id="f" enctype="multipart/form-data">
				<div class="row">
					<div class="col-xl-4">
						<!-- Profile picture card-->
						<div class="card mb-4 mb-xl-0">
							<div class="card-header">Profile Picture</div>
							<div class="card-body text-center">

								<!-- Profile picture image-->
								<img class="img-account-profile rounded-circle mb-2" src="photo/poo.jpg" alt="">
								<!-- Profile picture help block-->
								<div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
								<!-- Profile picture upload button-->
								<label for="inputFile" class="btn btn-primary"
									style="position: relative; border-color: #008375; background-color: #008375; overflow: hidden;">
									Upload new File
									<input type="file" name="uploadFile"
										style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;" />
								</label>

							</div>
						</div>
					</div>
					<div class="col-xl-8">
						<!-- Account details card-->
						<div class="card mb-4">
							<div class="card-header">Account Details</div>
							<div class="card-body">
								<!-- Form Group (username)-->
								<div class="mb-3">
									<label class="small mb-1" for="inputUsername">ID</label>
									<input class="form-control" name="aid" type="text" required
           									th:value="${session.a.aid}">
								</div>
								<!-- Form Row-->
								<div class="row gx-3 mb-3">
									<!-- Form Group (name)-->
									<div class="col-md-6">
										<label class="small mb-1" for="inputFirstName">Name</label>
										<input class="form-control" name="name_" type="text" required
           									th:value="${session.a.name_}">
									</div>
									<!-- Form Group (nick name)-->
									<div class="col-auto">
										<label class="small mb-1" for="inputLastName">Nick name</label>
										<input class="form-control" name="nick" type="text" required
           									th:value="${session.a.nick}">
										<button class="btn btn-primary mb-3"
											style=" border-color: #008375; background-color: #008375;" id="btn_check"
											type="button">Check</button>
									</div>
								</div>
								<!-- Form Row        -->
								<div class="row gx-3 mb-3">
									<!-- Form Group (password)-->
									<div class="col-md-6">
										<label class="small mb-1" for="inputPassword">Password</label>
										<input class="form-control" name="pwd" type="password" required id="pwd_origin"
											placeholder="Enter your password">
									</div>
									<!-- Form Group (password check)-->
									<div class="col-md-6">
										<label class="small mb-1" for="inputPasswordcheck">Password check
											<span id="sp_pwd"></span>
										</label>
										<input class="form-control mb-3" required type="password" id="pwd_check"
											placeholder="Check your password">

									</div>
								</div>
								<!-- Form Group (email address)-->
								<div class="mb-3">
									<label class="small mb-1" for="inputEmailAddress">Email address</label>
									<input class="form-control" name="email" type="text" required
           									th:value="${session.a.email}">
									<button class="btn btn-primary"
										style=" border-color: #008375; background-color: #008375;" id="btn_emailcheck"
										type="button">Email Check</button>
									<div id="box_check">
										<label class="small mb-1" for="inputEmailAddress">Verification</label>
										<input class="form-control" type="text" id="checkNUM">
										<button class="btn btn-primary"
											style=" border-color: #008375; background-color: #008375;"
											id="btnCheckNUM">확인</button>
									</div>
								</div>
								
								
			</form>
			
		</div>
		
		</div>
		<div class="card mb-4" id="favor">
							<div class="card-header">Likes</div>
							<div class="card-body">
								<!-- Form Group (username)-->
								<div class="mb-3">
									<div class="row">
                <div class="col">
                    <div class="place">
                        선호장소
                        <div class="mt-3"></div>
                        
                            <!-- place 내용 -->
                            <div class="mt-3"></div>
                            <div class="row g-3">
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" id="bloc1">
                                        <option selected>Open this select menu</option>
                                        <option th:each="blocation : ${list_blocation}" th:value="${blocation.blocno}" th:text="${blocation.blocname}"></option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" id="sloc1" name="slocno1">
                                        <option selected>Open this select menu</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="row g-3">
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" id="bloc2">
                                        <option selected>Open this select menu</option>
                                        <option th:each="blocation : ${list_blocation}" th:value="${blocation.blocno}" th:text="${blocation.blocname}"></option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" id="sloc2" name="slocno2">
                                        <option selected>Open this select menu</option>
                                    </select>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <div class="mt-4"></div>
                <div class="col">
                   <div class="hobby">
                        선호분야
                        <div class="mt-3"></div>
                        <form class="user">
                            <!-- hobby 내용 -->
                            <div class="mt-3"></div>
                            <div class="row g-3">
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" id="bca1">
                                        <option selected>Open this select menu</option>
                                        <option th:each="bcategory : ${list_bcategory}" th:value="${bcategory.bcano}" th:text="${bcategory.bcaname}"></option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" id="sca1" name="scano1">
                                        <option selected>Open this select menu</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="row g-3">
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" id="bca2">
                                        <option selected>Open this select menu</option>
                                        <option th:each="bcategory : ${list_bcategory}" th:value="${bcategory.bcano}" th:text="${bcategory.bcaname}"></option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example" id="sca2" name="scano2">
                                        <option selected>Open this select menu</option>
                                    </select>
                                </div>
                                
                            </div>
                        
                    </div>
                </div>
            </div>
								<!-- Save changes button-->
								
								<button type="submit" class="btn btn-primary" style="border-color: #008375; background-color: #008375;" id="btnJoin">Update your Account</button>
									</form>
			
		</div>
		
		</div>
		
		
		</div>
		<div class="card mb-4">
            <div class="card-header">Delete Account</div>
            <div class="card-body">
                <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                <button id="reason" class="btn btn-danger-soft text-danger" type="button">I understand, delete my account</button>
            </div>
            <form action="/deleteAccount" method="post" id="deleteAccountForm">
            <div id="selectReason" style="display: none; margin-left: 40px;">
				<p>탈퇴하시는 이유를 선택해 주세요.</p>
    <!-- 반복문을 사용하여 list_reason의 각 Reason 객체를 순회하며 라디오 버튼을 추가 -->
    <th:block th:each="reason : ${list_reason}">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="reno" th:id="'reason_' + ${reason.reno}" th:value="${reason.reno}">
            <label class="form-check-label" th:for="'reason_' + ${reason.reno}" th:text="${reason.rereason}"></label>
        </div>
    </th:block>
    <input type="submit" class="btn btn-primary" style="border-color: #008375; background-color: #008375; margin-top: 15px;" id="btnJoin" value="Delete Account">
</div>

            </div>
            </form>
		
		</div>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>