<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>소모임</title>	<link rel="stylesheet" th:href="@{/style/footer.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" th:href="@{/style/header.css}" />
	<link th:href="@{/style/clubmain.css}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(function () {

			$(document).on("click", ".table-container", function () {
				var cbno = $(this).attr("data-cbno");
				var slocno = $(this).attr("data-slocno");
				location.href = "/club/club_detail/" + cbno + "/" + slocno;
			})

			var keyword = $("#search").val();
			var sortColum = $("#sortColum").val();
			var moimlistDiv = $(".moimlist");

			function list(keyword, sortColum) {
				data = {
					keyword: keyword,
					sortColum: sortColum
				};

				console.log(data);

				$.ajax({
					url: "/club/clubmainajax",
					data: data,
					dataType: "json",
					success: function (arr) {
						$.each(arr, function () {
							var imgSrc = this.cbimg ? "/club/" + this.cbimg : "/club/defaultclass.jpg"; // 이미지 주소 설정

							var div = $("<div></div>").addClass("table-container").attr("data-cbno", this.cbno).attr("data-slocno", this.slocno);
							var table = $("<table></table>").addClass("table-item");
							var tr1 = $("<tr></tr>");
							var tdimg = $("<td></td>");

							var img = $("<img />").attr("id", "cbimg").attr("alt", "classimg4561").attr("src", imgSrc); // 이미지 주소 설정

							$(tdimg).append(img);
							var spancaname = $("<span></span>").attr("id", "cate").html(this.bcaname + ">" + this.scaname);
	
							var td2 = $("<td></td>");
							var spancbtitle = $("<span></span>").attr("name", "cbtitle").attr("id", "cbtitle").html(this.cbtitle);
							var spannick = $("<span></span>").attr("id", "bang").html("방장:" + this.nick);
							var spancbpeople = $("<span></span>").attr("id", "cntpeople").html(this.cnt + "/" + this.cbpeople+"     ");
							var spanclose = $("<span></span>").attr("id", "close").html("모집 마감 " + this.cbclsdate);
							
							var br1 = $("<br></br>");
							var br2 = $("<br></br>");
							var br3 = $("<br></br>");
							
							$(td2).append(spancaname, br1, spancbtitle, br2, spannick, br3, spancbpeople, spanclose);
							
							$(spancbtitle).css("font-weight", "bold");
							$(tdimg).css("width", "130px");
							$(td2).css("line-height", "23px");
							$(td2).css("vertical-align", "middle");
							$(tr1).append(tdimg, td2);
							$(table).append(tr1);
							$(div).append(table);

							moimlistDiv.append(div);
						});
					}
				});
			}
			list(keyword, sortColum);
			$("#writeclub").click(function () {
				location.href = "/club/club_open";
			})

			$("#searchBtn").click(function () {
				$(".moimlist").empty();
				var keyword = $("#search").val();
				var sortColum = $(".sortColum").val();
				list(keyword, sortColum);
				$("#search").val("");
			})
			$(".sortColum").change(function () {
				$(".moimlist").empty();
				var keyword = $("#search").val();
				var sortColum = $(".sortColum").val();
				list(keyword, sortColum);
				$(".sortColum").val("");
				$(".sortColum option:first").prop("selected", true);
			})
			$("#1").click(function(){
				location.href="/club/clubmain";
			})
			$("#2").click(function(){
				location.href="/community/community/1";
			})
			$("#3").click(function(){
				location.href="/notice/noticemain/1";
			})
			$("#4").click(function(){
				location.href="/qanda/qandamain";
			})
		})
	</script>
</head>

<body>
	<header th:replace="~{fragments/header :: headerFragment}"></header>
	<div class="maindiv">
		<div class="top-category">
			<p id="1" class="category-text">#소모임</p>
			<p id="2" class="category-text">#커뮤니티</p>
			<p id="3" class="category-text">#공지사항</p>
			<p id="4" class="category-text">#Q&A</p>
		</div>
		<div class="clubmain-content">
			<div class="top">
			<select id="filter" class="sortColum" name="sortColum">
				<option value="">선택하세요</option>
				<option value="new">최신순</option>
				<option value="detail">마감임박순</option>
			</select>
			<button class="writeclub" id="writeclub">모집하기</button>
			<br />
			<input type="text" id="search" name="keyword" placeholder="소모임명을 검색하세요" />
			<button id="searchBtn">검색</button>
			</div>
			<div class="moimlist">
				<!--for문 여기서부터 돌리면 됨-->
			</div>
		</div>
	</div>
	<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>

</html>