<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Feed</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="feed.css" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
	$(document).ready(function() {
		// 버튼과 모달 요소를 가져옵니다.
		var button = $("#modalButton");
		var plus = $("#insertfeed");
		var modal = $("#myModal");
		var modal2 = $("#myModal2");

		// 모달을 표시하는 함수를 정의합니다.
		function showModal() {
			modal.css("display", "block");
		}

		// 모달을 닫는 함수를 정의합니다.
		function closeModal() {
			modal.css("display", "none");
		}

		// 모달을 표시하는 함수를 정의합니다.
		function showModal2() {
			modal2.css("display", "block");
		}

		// 모달2를 닫는 함수를 정의합니다.
		function closeModal2() {
			modal2.css("display", "none");
		}

		// 버튼을 클릭했을 때 showModal 함수를 실행합니다.
		button.click(showModal);
		plus.click(showModal2);

		// 닫기 버튼을 클릭했을 때 closeModal 함수를 실행합니다.
		var closeButton = $("#btn-close1");
		closeButton.click(closeModal);

		// 모달2의 닫기 버튼을 클릭했을 때 closeModal2 함수를 실행합니다.
		var closeButton2 = $("#btn-close2");
		closeButton2.click(closeModal2);
	});
</script>

</head>
<body>

	<div
		class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
		<div class="col-lg-6 px-0">
			<h1 class="display-4 fst-italic">Our Feed</h1>
			<p class="lead my-3">다양한 소식과 이벤트들을 확인해 보세요!</p>

		</div>
	</div>

	<div class="container">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center justify-content-between">
					<!-- d-flex와 justify-content-between 추가 -->
					<!-- Avatar -->
					<div class="avatar avatar-story me-2">
						<a href="#!"> <img class="avatar-img rounded-circle"
							src="photo/poo.jpg" alt="" style="width: 50px; height: 50px;">
						</a>
					</div>
					<!-- Info -->
					<div>
						<div class="nav nav-divider">
							<h6 class="nav-item card-title mb-0">
								<a href="#!"> 바오바오 </a>
							</h6>
						</div>
						<p>내 피드 올리기!</p>
					</div>
					<button type="button" id="insertfeed" class="btn btn-dark"
						style="font-size: 30px;">+</button>
				</div>
			</div>
	<!-- 피드작성 -->
			<div id="myModal2" class="modal">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
					style="max-width: 1200px;">
					<div class="modal-content">
						<button type="button" id="btn-close2" class="btn-close"
							aria-label="Close"
							style="position: absolute; top: 10px; right: 10px; z-index: 1;"></button>
						<div class="modal-body" style="height: 1300px;">
							<p>피드작성</p>
							<div class="mb-3">
								<label for="exampleFormControlTextarea1" class="form-label">Example
									textarea</label>
								<textarea class="form-control" id="exampleFormControlTextarea1"
									rows="3"></textarea>
							</div>


							<div class="d-flex">


								<div class="upload-box">
									<div id="drop-file" class="drag-file">
										<img
											src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
											alt="파일 아이콘" class="image">
										<p class="message">Drag files to upload</p>
									</div>
								</div>
								<label class="file-label" for="chooseFile">Choose File</label> <input
									class="file" id="chooseFile" type="file" multiple>
							</div>

							<div class="d-flex">


								<div class="upload-box">
									<div id="drop-file" class="drag-file">
										<img
											src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
											alt="파일 아이콘" class="image">
										<p class="message">Drag files to upload</p>
									</div>
								</div>
								<label class="file-label" for="chooseFile">Choose File</label> <input
									class="file" id="chooseFile" type="file" multiple>
							</div>

							<div class="d-flex">


								<div class="upload-box">
									<div id="drop-file" class="drag-file">
										<img
											src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
											alt="파일 아이콘" class="image">
										<p class="message">Drag files to upload</p>
									</div>
								</div>
								<label class="file-label" for="chooseFile">Choose File</label> <input
									class="file" id="chooseFile" type="file" multiple>
							</div>


							<div class="d-flex justify-content-center mt-auto">
								<button type="button" class="btn btn-success">피드작성하기</button>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
    <!--피드메인-->
		<div class="mb-3"></div> 
		<div class="row">
	
			<div th:each="f:${list}" class="col-md-6">

				<div class="card mb-5" style="height: 800px;">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar avatar-story me-2">
								<a href="#!"> <img class="avatar-img rounded-circle"
									src="photo/poo.jpg" alt="" style="width: 70px; height: 70px;">
								</a>
							</div>
							<!-- Info -->
							<div>
								<div class="nav nav-divider">
									<h6 class="nav-item card-title mb-0">
										<a href="#!"> 바오바오 </a>
									</h6>
									<span class="nav-item small"> 2hr</span>
								</div>
								<p class="mb-0 small">동물>판다</p>
							</div>
						</div>

						<div id="carouselExampleIndicators" class="carousel slide">
							<div class="carousel-indicators">
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="0" class="active" aria-current="true"
									aria-label="Slide 1"></button>
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="1" aria-label="Slide 2"></button>
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="2" aria-label="Slide 3"></button>
							</div>
							<div class="carousel-inner" style="margin-top: 20px;">
								<div class="carousel-item active" style="margin-top: 20px;">
									<img src="photo/poo.jpg" class="d-block" alt="..." width="500"
										height="500">
								</div>
								<div class="carousel-item" style="margin-top: 20px;">
									<img src="photo/poo.jpg" class="d-block" alt="..." width="500"
										height="500">
								</div>
								<div class="carousel-item" style="margin-top: 20px;">
									<img src="photo/poo.jpg" class="d-block" alt="..." width="500"
										height="500">
								</div>
							</div>
							<button class="carousel-control-prev" type="button"
								data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button"
								data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>

						<p>안뇽 내 이름은 푸바오!</p>
						<ul class="nav nav-stack py-3 small">
							<li class="nav-item"><a class="nav-link active" href="#!"
								data-bs-container="body" data-bs-toggle="tooltip"
								data-bs-placement="top" data-bs-html="true"
								data-bs-custom-class="tooltip-text-start"
								data-bs-title="Frances Guerrero<br> Lori Stevens<br> Billy Vasquez<br> Judy Nguyen<br> Larry Lawson<br> Amanda Reed<br> Louis Crawford">
									<i class="bi bi-hand-thumbs-up-fill pe-1"></i>Liked(56)
							</a></li>
							<li class="nav-item"><a class="nav-link modalButton"
								href="#!" data-modal-id="myModal"> <i
									class="bi bi-chat-fill pe-1"></i>Comments(12)
							</a></li>
						</ul>
						<div class="btn-group">
							<button type="button" class="btn btn-sm btn-outline-secondary"
								id="modalButton">Views</button>
						</div>
						<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

					</div>
					<!--피드상세보기-->
					<div id="myModal" class="modal">
						<div
							class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
							style="max-width: 1000px;">
							<div class="modal-content">
								<button type="button" id="btn-close1" class="btn-close"
									aria-label="Close"
									style="position: absolute; top: 10px; right: 10px; z-index: 1;"></button>
								<div class="modal-body" style="height: 1200px;">
									<div class="card-header border-0 pb-0">

										<div class="d-flex align-items-center">
											<!-- Avatar -->
											<div class="avatar avatar-story me-2">
												<a href="#!"> <img class="avatar-img rounded-circle"
													src="photo/poo.jpg" alt=""
													style="width: 70px; height: 70px;">
												</a>
											</div>
											<!-- Info -->
											<div>
												<div class="nav nav-divider">
													<h6 class="nav-item card-title mb-0">
														<a href="#!"> 바오바오 </a>
													</h6>
													<span class="nav-item small"> 2hr</span>
												</div>
												<p class="mb-0 small">동물>판다</p>
											</div>
										</div>
										<!-- Card feed action dropdown START -->
										<div class="dropdown">
											<a href="#"
												class="text-secondary btn btn-secondary-soft-hover py-1 px-2"
												id="cardFeedAction" data-bs-toggle="dropdown"
												aria-expanded="false"> <i class="bi bi-three-dots"></i>
											</a>


										</div>
										<!-- Card feed action dropdown END -->

									</div>
									<div class="carousel slide" id="carouselModalExampleIndicators">
										<div class="carousel-indicators">
											<button type="button"
												data-bs-target="#carouselModalExampleIndicators"
												data-bs-slide-to="0" class="active" aria-current="true"
												aria-label="Slide 1"></button>
											<button type="button"
												data-bs-target="#carouselModalExampleIndicators"
												data-bs-slide-to="1" aria-label="Slide 2"></button>
											<button type="button"
												data-bs-target="#carouselModalExampleIndicators"
												data-bs-slide-to="2" aria-label="Slide 3"></button>
										</div>
										<div class="carousel-inner" style="margin-top: 20px;">
											<div class="carousel-item active" style="margin-top: 20px;">
												<img src="photo/poo.jpg" class="d-block mx-auto" alt="..."
													width="500" height="500">
											</div>
											<div class="carousel-item" style="margin-top: 20px;">
												<img src="photo/poo.jpg" class="d-block mx-auto" alt="..."
													width="500" height="500">
											</div>
											<div class="carousel-item" style="margin-top: 20px;">
												<img src="photo/poo.jpg" class="d-block mx-auto" alt="..."
													width="500" height="500">
											</div>
										</div>
										<button class="carousel-control-prev" type="button"
											data-bs-target="#carouselModalExampleIndicators"
											data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Previous</span>
										</button>
										<button class="carousel-control-next" type="button"
											data-bs-target="#carouselModalExampleIndicators"
											data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="visually-hidden">Next</span>
										</button>
									</div>


									<p>안뇽 내이름은 푸바오!</p>
									<ul class="nav nav-stack py-3 small">
										<li class="nav-item"><a class="nav-link active" href="#!"
											data-bs-container="body" data-bs-toggle="tooltip"
											data-bs-placement="top" data-bs-html="true"
											data-bs-custom-class="tooltip-text-start"
											data-bs-title="Frances Guerrero<br> Lori Stevens<br> Billy Vasquez<br> Judy Nguyen<br> Larry Lawson<br> Amanda Reed<br> Louis Crawford">
												<i class="bi bi-hand-thumbs-up-fill pe-1"></i>Liked(56)
										</a></li>
										<li class="nav-item"><a class="nav-link" href="#!"> <i
												class="bi bi-chat-fill pe-1"></i>Comments(12)
										</a></li>
									</ul>
									<hr>
									<h1 class="h2">댓글</h1>
									<div class="d-flex">
										<textarea data-autoresize=""
											class="form-control pe-5 bg-light flex-grow-1" rows="1"
											placeholder="Add a comment..."></textarea>
										<button type="button" class="btn btn-light">Add</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--두번째 피든-->
			<div class="col-md-6">

				<div class="card mb-5" style="height: 800px;">
					<div class="card-body">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar avatar-story me-2">
								<a href="#!"> <img class="avatar-img rounded-circle"
									src="photo/poo.jpg" alt="" style="width: 70px; height: 70px;">
								</a>
							</div>
							<!-- Info -->
							<div>
								<div class="nav nav-divider">
									<h6 class="nav-item card-title mb-0">
										<a href="#!"> 바오바오 </a>
									</h6>
									<span class="nav-item small"> 2hr</span>
								</div>
								<p class="mb-0 small">동물>판다</p>
							</div>
						</div>

						<div id="carouselExampleIndicators" class="carousel slide">
							<div class="carousel-indicators">
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="0" class="active" aria-current="true"
									aria-label="Slide 1"></button>
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="1" aria-label="Slide 2"></button>
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="2" aria-label="Slide 3"></button>
							</div>
							<div class="carousel-inner" style="margin-top: 20px;">
								<div class="carousel-item active" style="margin-top: 20px;">
									<img src="photo/poo.jpg" class="d-block" alt="..." width="500"
										height="500">
								</div>
								<div class="carousel-item" style="margin-top: 20px;">
									<img src="photo/poo.jpg" class="d-block" alt="..." width="500"
										height="500">
								</div>
								<div class="carousel-item" style="margin-top: 20px;">
									<img src="photo/poo.jpg" class="d-block" alt="..." width="500"
										height="500">
								</div>
							</div>
							<button class="carousel-control-prev" type="button"
								data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button"
								data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>

						<p>안뇽 내 이름은 푸바오!</p>
						<ul class="nav nav-stack py-3 small">
							<li class="nav-item"><a class="nav-link active" href="#!"
								data-bs-container="body" data-bs-toggle="tooltip"
								data-bs-placement="top" data-bs-html="true"
								data-bs-custom-class="tooltip-text-start"
								data-bs-title="Frances Guerrero<br> Lori Stevens<br> Billy Vasquez<br> Judy Nguyen<br> Larry Lawson<br> Amanda Reed<br> Louis Crawford">
									<i class="bi bi-hand-thumbs-up-fill pe-1"></i>Liked(56)
							</a></li>
							<li class="nav-item"><a class="nav-link modalButton"
								href="#!" data-modal-id="myModal"> <i
									class="bi bi-chat-fill pe-1"></i>Comments(12)
							</a></li>
						</ul>
						<div class="btn-group">
							<button type="button" class="btn btn-sm btn-outline-secondary"
								id="modalButton">Views</button>
						</div>
						<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

					</div>

				</div>
			</div>

		</div>




	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
