<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Feed</title>
<link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
   rel="stylesheet">
<link rel="stylesheet" href="/style/feed.css" />
<script
   src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>

	
</style>
<script>
    $(document).ready(function() {
        // 버튼과 모달 요소
        var plus = $("#insertfeed");
        var modal2 = $("#myModal2");

        function showModal2() {
            modal2.css("display", "block");
        }
        plus.click(showModal2);
        
        $("#inlineRadio3").on('click', function() {
    // Send an AJAX request to the server
    $.ajax({
      url: "/feed/myFeed", 
      type: "POST", 
      success: function() {
        
      },
      error: function(error) {
        console.log("Error fetching user's feed: " + error);
      }
    });
  });
        
        
        
        
         $(".commentBtn").on('click', function() {
			 var fno = $(this).attr('id').split('-')[1];
var formData = $('#commentForm-' + fno).serialize();
    $.ajax({
      url: "/feed/insertComment",
      type: "POST", 
      data: formData,
      success: function(response) {
        var cntCommentValue = response.cntComment;
        var list = response.list;
        var commentTable = $("#commentTable-"+fno);
        var commentHtml = "";
        
        commentTable.empty();
		  list.forEach(function(comment) {
            commentHtml += "<tr><td><div class=\"avatar avatar-story me-2\">" +
                "<a href=\"#!\"><img class=\"avatar-img rounded-circle\"" +
                "src=\"/profile/" + comment.img + "\" alt=\"\" style=\"width: 55px; height: 55px;\"></a>" +
                "</div></td><td>" + comment.nick + "</td><td>" + comment.fcocomment +
                "</td><td>" + comment.fcodate + "</td></tr>";
        });

            commentTable.html(commentHtml);
        alert("댓글달기성공");
        console.log(response); 
      },
      error: function(error) {
        
        console.log("댓글달기실패");
        
      }
    });
  });
      
       $('.likeButton').on('click', function() {
        var fno = $(this).attr('id').split('-')[1];
        var cntLikeValue = $("#likeCount-" + fno).text();
        var userLike = $("#userLike-" + fno).val();
        var formData = $('#likeForm-' + fno).serialize();
        console.log(fno);
        console.log(cntLikeValue);
        console.log(userLike);
        
        var $this = $(this);
        if (userLike == 0) {
        $.ajax({
            type: 'POST',
            url: "/feed/insertLike",
            data: formData,
            success: function(response) {
                var cntLikeValue = response.cntLike;
                var userLike = response.userLike;
                $('#userLike-' + fno).val(userLike);
                $('#likeCount-' + fno).text(cntLikeValue);
                $this.attr("userLike", userLike); 
                alert("좋아요 성공");
                var svg = $('#likeIcon-'+fno);
            	svg.find('path').attr('d', 'M14 20.408c-.492.308-.903.546-1.192.709-.153.086-.308.17-.463.252h-.002a.75.75 0 0 1-.686 0 16.709 16.709 0 0 1-.465-.252 31.147 31.147 0 0 1-4.803-3.34C3.8 15.572 1 12.331 1 8.513 1 5.052 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262A31.146 31.146 0 0 1 14 20.408Z'); 
                
            },
            error: function(error) {
                alert("좋아요 실패");
            }
        });
    } else {
        $.ajax({
            type: 'POST',
            url: "/feed/deleteLike",
            data: formData,
            success: function(response) {
                var cntLikeValue = response.cntLike;
                var userLike = response.userLike;
                console.log(userLike);
                $('#userLike-' + fno).val(userLike);
                $('#likeCount-' + fno).text(cntLikeValue);
                $this.attr("userLike", userLike); 
                alert("좋아요 취소 성공");
                var svg = $('#likeIcon-'+fno);
            	svg.find('path').attr('d', 'm12 20.703.343.667a.748.748 0 0 1-.686 0l-.003-.002-.007-.003-.025-.013a31.138 31.138 0 0 1-5.233-3.576C3.8 15.573 1 12.332 1 8.514v-.001C1 5.053 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262a31.148 31.148 0 0 1-5.233 3.576l-.025.013-.007.003-.002.001ZM6.736 4C4.657 4 2.5 5.88 2.5 8.514c0 3.107 2.324 5.96 4.861 8.12a29.655 29.655 0 0 0 4.566 3.175l.073.041.073-.04c.271-.153.661-.38 1.13-.674.94-.588 2.19-1.441 3.436-2.502 2.537-2.16 4.861-5.013 4.861-8.12C21.5 5.88 19.343 4 17.264 4c-2.106 0-3.801 1.389-4.553 3.643a.751.751 0 0 1-1.422 0C10.537 5.389 8.841 4 6.736 4Z'); 
            },
            error: function(error) {
                alert("좋아요 취소 실패");
            }
        });
    }

    });

    });
    
    
    
    
    var fileNo = 0;
var filesArr = new Array();

/* 첨부파일 추가 */
function addFile(obj){
    var maxFileCnt = 3;   // 첨부파일 최대 개수
    var attFileCnt = document.querySelectorAll('.filebox').length;    // 기존 추가된 첨부파일 개수
    var remainFileCnt = maxFileCnt - attFileCnt;    // 추가로 첨부가능한 개수
    var curFileCnt = obj.files.length;  // 현재 선택된 첨부파일 개수

    // 첨부파일 개수 확인
    if (curFileCnt > remainFileCnt) {
        alert("첨부파일은 최대 " + maxFileCnt + "개 까지 첨부 가능합니다.");
    }

    for (var i = 0; i < Math.min(curFileCnt, remainFileCnt); i++) {

        const file = obj.files[i];

        // 첨부파일 검증
        if (validation(file)) {
            // 파일 배열에 담기
            var reader = new FileReader();
            reader.onload = function () {
                filesArr.push(file);
            };
            reader.readAsDataURL(file)

            // 목록 추가
            let htmlData = '';
            htmlData += '<div id="file' + fileNo + '" class="filebox">';
            htmlData += '   <p class="name">' + file.name + '</p>';
            htmlData += '   <a class="delete" onclick="deleteFile(' + fileNo + ');"><i class="far fa-minus-square"></i></a>';
            htmlData += '</div>';
            $('.file-list').append(htmlData);
            fileNo++;
        } else {
            continue;
        }
    }
    // 초기화
    document.querySelector("input[type=file]").value = "";
}

/* 첨부파일 검증 */
function validation(obj){
    const fileTypes = ['application/pdf', 'image/gif', 'image/jpeg', 'image/png', 'image/bmp', 'image/tif', 'application/haansofthwp', 'application/x-hwp'];
    if (obj.name.length > 100) {
        alert("파일명이 100자 이상인 파일은 제외되었습니다.");
        return false;
    } else if (obj.size > (100 * 1024 * 1024)) {
        alert("최대 파일 용량인 100MB를 초과한 파일은 제외되었습니다.");
        return false;
    } else if (obj.name.lastIndexOf('.') == -1) {
        alert("확장자가 없는 파일은 제외되었습니다.");
        return false;
    } else if (!fileTypes.includes(obj.type)) {
        alert("첨부가 불가능한 파일은 제외되었습니다.");
        return false;
    } else {
        return true;
    }
}


// 첨부파일 삭제 
function deleteFile(num) {
    document.querySelector("#file" + num).remove();
    filesArr[num].is_delete = true;
}

// 폼 전송
    function submitForm() {
        // FormData 객체 생성
        var formData = new FormData();
        
        // 텍스트 데이터 추가
        var aid = document.querySelector("input[name='aid']").value;
        var fcontent = document.querySelector("textarea[name='fcontent']").value;
        formData.append("aid", aid);
        formData.append("fcontent", fcontent);
        
        // 파일 데이터 추가
        for (var i = 0; i < filesArr.length; i++) {
            if (!filesArr[i].is_delete) {
                formData.append("uploadFile", filesArr[i]);
            }
        }

        // AJAX 통신
        $.ajax({
            method: 'POST',
            url: "/feed/insert",
            dataType: 'json',
            data: formData,
            async: true,
            contentType: false, // 필수: FormData 객체 사용시 false로 설정
            processData: false, // 필수: FormData 객체 사용시 false로 설정
            success: function () {
                alert("파일업로드 성공");
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
</script>


</head>
<body>

   <div
      class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="col-lg-6 px-0">
         <h1 class="display-4 fst-italic">Our Feed</h1>
         <p class="lead my-3">다양한 소식과 이벤트들을 확인해 보세요!</p>

      </div>
   </div>

   <div class="container">
      <div class="card">
         <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
               <!-- d-flex와 justify-content-between 추가 -->
               <!-- Avatar -->
               <div class="avatar avatar-story me-2">
                  <a href="#!"> <img class="avatar-img rounded-circle"
                           th:src="@{'/profile/' + ${session.a.img}}" alt="" style="width: 70px; height: 70px;">
                        </a>
               </div>
               <!-- Info -->
               <div>
                  <div class="nav nav-divider">
                     <h6 class="nav-item card-title mb-0">
                        <a href="#!"><span th:text="${session.a.nick}"></span></a>
                     </h6>
                  </div>
                  <p><span th:text="${session.aid}"></span></p>
                  <p>내 피드 올리기!</p>
               </div>
               <button type="button" id="insertfeed" class="btn btn-dark"
                  style="font-size: 30px;">+</button>
            </div>
         </div>
         <!-- 피드작성 -->
         <div id="myModal2" class="modal">
            <div
               class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
               style="max-width: 900px;">
               <div class="modal-content">
                  <button type="button" id="btn-close2" class="btn-close"
                     aria-label="Close"
                     style="position: absolute; top: 10px; right: 10px; z-index: 1;"></button>
                  <div class="modal-body" style="height: 800px;">
                     <p>피드작성</p>
                     <!--form 문 시작-->
                      <form method="POST" enctype="multipart/form-data">
    <input type="hidden" name="aid" th:value="${session.a.aid}" />
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="fcontent"></textarea>
    </div>
                                
    <!-- 이미지 등록 -->
    <input type="file" name="uploadFile" onchange="addFile(this);" multiple />
    <div class="file-list"></div>

</form>
                            <div class="d-flex justify-content-center mt-auto">
                                    <input type="submit" class="btn btn-success" value="피드작성" onclick="submitForm();">
                                </div>


                  </div>
               </div>
            </div>
         </div>
      </div>
   <div class="radio">
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="allFeed" value="option1" checked>
  <label class="form-check-label" for="inlineRadio1">전체보기</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="followFeed" value="option2">
  <label class="form-check-label" for="inlineRadio2">내친구보기</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="myFeed" value="option3">
  <label class="form-check-label" for="inlineRadio3">내피드보기</label>
</div>
   </div>
      <!--피드메인-->
      <div class="mb-3"></div>
      <div class="row">

         <div th:each="f:${list}" class="col-md-6">


            <div class="card mb-5" style="height: 800px;">
               <div class="card-body">
                  <div class="d-flex align-items-center">
                     <!-- Avatar -->
                     <div class="avatar avatar-story me-2">
                        <a href="#!"> <img class="avatar-img rounded-circle"
                           th:src="@{'/profile/' + ${f.img}}" alt="" style="width: 70px; height: 70px;">
                        </a>
                     </div>
                     <!-- Info -->
                     <div>
                        <div class="nav nav-divider">
                           <h6 class="nav-item card-title mb-0">
                              <a href="#!" th:text="${f.nick}"> </a>
                           </h6>
                        </div>
                     </div>
                  </div>

                  <div th:attr="id=${'carouselExampleIndicators-' + f.fno}"
                     class="carousel slide">
                     <!-- Carousel 인디케이터 버튼 -->
                     <div class="carousel-indicators">
                        <button type="button"
                           data-bs-target="#carouselModalExampleIndicators"
                           data-bs-slide-to="0" class="active" aria-current="true"
                           aria-label="Slide 1"></button>
                        <button type="button"
                           data-bs-target="#carouselModalExampleIndicators"
                           data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button"
                           data-bs-target="#carouselModalExampleIndicators"
                           data-bs-slide-to="2" aria-label="Slide 3"></button>
                     </div>
                     <!-- Carousel 슬라이드 이미지 -->
                     <div class="carousel-inner" style="margin-top: 20px;">
                        <div th:each="fimg, iterStat:${f.flist}" class="carousel-item"
                           th:classappend="${iterStat.index == 0} ? 'active'">
                           <img th:src="@{'/feed/' + ${fimg}}" class="d-block" alt="..."
                              width="500" height="500">
                        </div>
                     </div>
                     <!-- 이전 버튼 -->
                     <button class="carousel-control-prev" type="button"
                        th:attr="data-bs-target=${'#carouselExampleIndicators-' + f.fno}, data-bs-slide='prev'">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                     </button>
                     <!-- 다음 버튼 -->
                     <button class="carousel-control-next" type="button"
                        th:attr="data-bs-target=${'#carouselExampleIndicators-' + f.fno}, data-bs-slide='next'">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                     </button>
                  </div>
                  <div class="fcontent">
                  <label th:text="${f.fcontent}"></label>
                  </div>
                  
                  <table class="table caption-top">
                   
      <tbody>
         <tr>
            <td th:attr="userLike=''+${f.userLike}, id='likeButton-' + ${f.fno}" class="likeButton" onmouseover="this.style.background='#F0F3F4'" onmouseout="this.style.background='white'">
         <input type="hidden" th:attr="id='userLike-' + ${f.fno}" name="userLike" th:value="${f.userLike}" /> 
        <div class="like_yes" th:attr="id='userLike-' + ${f.fno}" th:if="${f.userLike == 0}">
            <svg th:attr="id='likeIcon-'+${f.fno}" class="like-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path d="m12 20.703.343.667a.748.748 0 0 1-.686 0l-.003-.002-.007-.003-.025-.013a31.138 31.138 0 0 1-5.233-3.576C3.8 15.573 1 12.332 1 8.514v-.001C1 5.053 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262a31.148 31.148 0 0 1-5.233 3.576l-.025.013-.007.003-.002.001ZM6.736 4C4.657 4 2.5 5.88 2.5 8.514c0 3.107 2.324 5.96 4.861 8.12a29.655 29.655 0 0 0 4.566 3.175l.073.041.073-.04c.271-.153.661-.38 1.13-.674.94-.588 2.19-1.441 3.436-2.502 2.537-2.16 4.861-5.013 4.861-8.12C21.5 5.88 19.343 4 17.264 4c-2.106 0-3.801 1.389-4.553 3.643a.751.751 0 0 1-1.422 0C10.537 5.389 8.841 4 6.736 4Z"></path>    
            </svg> Liked(<span th:attr="id='likeCount-' + ${f.fno}" th:text="${f.cntLike}"></span>)
        </div>
        <div class="like_no" th:attr="id='userLike-' + ${f.fno}" th:unless="${f.userLike == 0}" >
         
            <svg th:attr="id='likeIcon-'+${f.fno}" class="like-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path d="M14 20.408c-.492.308-.903.546-1.192.709-.153.086-.308.17-.463.252h-.002a.75.75 0 0 1-.686 0 16.709 16.709 0 0 1-.465-.252 31.147 31.147 0 0 1-4.803-3.34C3.8 15.572 1 12.331 1 8.513 1 5.052 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262A31.146 31.146 0 0 1 14 20.408Z"></path>
            </svg> Liked(<span th:attr="id='likeCount-' + ${f.fno}" th:text="${f.cntLike}"></span>)
           
        </div>
        
        
        <form th:attr="id='likeForm-'+${f.fno}">
            <input type="hidden" name="aid" th:value="${session.a.aid}" />
            <input type="hidden" name="fno" th:value="${f.fno}" />
        </form>
    </td>

    
            <td onmouseover="this.style.background='#F0F3F4'"
               onmouseout="this.style.background='white'" class="modalButton"
                        th:attr="data-modal-id='myModal' + ${f.fno}"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                  height="24" >
        <path
                     d="M1.5 4.25c0-.966.784-1.75 1.75-1.75h17.5c.966 0 1.75.784 1.75 1.75v12.5a1.75 1.75 0 0 1-1.75 1.75h-9.69l-3.573 3.573A1.458 1.458 0 0 1 5 21.043V18.5H3.25a1.75 1.75 0 0 1-1.75-1.75ZM3.25 4a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h2.5a.75.75 0 0 1 .75.75v3.19l3.72-3.72a.749.749 0 0 1 .53-.22h10a.25.25 0 0 0 .25-.25V4.25a.25.25 0 0 0-.25-.25Z"></path>
    </svg> Comments(<span th:attr="id='CommentCount-' + ${f.fno}" th:text="${f.cntComment}"></span>)
         </tr>

      </tbody>
   </table>
   

                  
               </div>
               <!--피드상세보기-->

               <div th:attr="id='myModal' + ${f.fno}" class="modal">
                  <div
                     class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                     style="max-width: 800px;">
                     <div class="modal-content">
                        <button type="button" id="btn-close1" class="btn-close"
                           aria-label="Close"
                           style="position: absolute; top: 10px; right: 10px; z-index: 1;"></button>
                        <div class="modal-body" style="height: 1100px;">
                           <div class="card-header border-0 pb-0">

                              <div class="d-flex align-items-center">
                                 <!-- Avatar -->
                                 <div class="avatar avatar-story me-2">
                                    <a href="#!"> <img class="avatar-img rounded-circle"
                           th:src="@{'/profile/' + ${f.img}}" alt="" style="width: 70px; height: 70px;">
                        </a>
                                 </div>
                                 <!-- Info -->
                                 <div>
                                    <div class="nav nav-divider">
                                       <h6 class="nav-item card-title mb-0">
                                          <a href="#!" th:text="${f.nick}"> </a>
                                       </h6>
                                       
                                    </div>
                                    
                                 </div>
                              </div>
                              <!-- Card feed action dropdown START -->
                              <div class="dropdown">
                                 <a href="#"
                                    class="text-secondary btn btn-secondary-soft-hover py-1 px-2"
                                    id="cardFeedAction" data-bs-toggle="dropdown"
                                    aria-expanded="false"> <i class="bi bi-three-dots"></i>
                                 </a>


                              </div>
                              <!-- Card feed action dropdown END -->

                           </div>
                           <div th:attr="id=${'carouselExampleIndicators-' + f.fno+f.fno}"
                              class="carousel slide">
                              <!-- Carousel 인디케이터 버튼 -->
                              <div class="carousel-indicators">
                                 <button type="button"
                                    data-bs-target="#carouselModalExampleIndicators"
                                    data-bs-slide-to="0" class="active" aria-current="true"
                                    aria-label="Slide 1"></button>
                                 <button type="button"
                                    data-bs-target="#carouselModalExampleIndicators"
                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                                 <button type="button"
                                    data-bs-target="#carouselModalExampleIndicators"
                                    data-bs-slide-to="2" aria-label="Slide 3"></button>
                              </div>
                              <!-- Carousel 슬라이드 이미지 -->
                              <div class="carousel-inner" style="margin-top: 20px;">
                                 <div th:each="fimg, iterStat:${f.flist}"
                                    class="carousel-item"
                                    th:classappend="${iterStat.index == 0} ? 'active'">
                                    <img th:src="@{'/feed/' + ${fimg}}" class="d-block"
                                       alt="..." width="500" height="500">
                                 </div>
                              </div>
                              <!-- 이전 버튼 -->
                              <button class="carousel-control-prev" type="button"
                                 th:attr="data-bs-target=${'#carouselExampleIndicators-' + f.fno+f.fno}, data-bs-slide='prev'">
                                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                 <span class="visually-hidden">Previous</span>
                              </button>
                              <!-- 다음 버튼 -->
                              <button class="carousel-control-next" type="button"
                                 th:attr="data-bs-target=${'#carouselExampleIndicators-' + f.fno+f.fno}, data-bs-slide='next'">
                                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                 <span class="visually-hidden">Next</span>
                              </button>
                           </div>


                           <span th:text="${f.fcontent}"></span>
                          <table class="table caption-top">
                   
      <tbody>
         <tr>
            <td th:attr="userLike=''+${f.userLike}, id='likeButton-' + ${f.fno}" class="likeButton" onmouseover="this.style.background='#F0F3F4'" onmouseout="this.style.background='white'">
         <input type="hidden" th:attr="id='userLike-' + ${f.fno}" name="userLike" th:value="${f.userLike}" /> 
        <div class="like_yes" th:attr="id='userLike-' + ${f.fno}" th:if="${f.userLike == 0}">
            <svg id="likeIcon" class="like-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path d="m12 20.703.343.667a.748.748 0 0 1-.686 0l-.003-.002-.007-.003-.025-.013a31.138 31.138 0 0 1-5.233-3.576C3.8 15.573 1 12.332 1 8.514v-.001C1 5.053 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262a31.148 31.148 0 0 1-5.233 3.576l-.025.013-.007.003-.002.001ZM6.736 4C4.657 4 2.5 5.88 2.5 8.514c0 3.107 2.324 5.96 4.861 8.12a29.655 29.655 0 0 0 4.566 3.175l.073.041.073-.04c.271-.153.661-.38 1.13-.674.94-.588 2.19-1.441 3.436-2.502 2.537-2.16 4.861-5.013 4.861-8.12C21.5 5.88 19.343 4 17.264 4c-2.106 0-3.801 1.389-4.553 3.643a.751.751 0 0 1-1.422 0C10.537 5.389 8.841 4 6.736 4Z"></path>    
            </svg> Liked(<span th:attr="id='likeCount-' + ${f.fno}" th:text="${f.cntLike}"></span>)
        </div>
        <div class="like_no" th:attr="id='userLike-' + ${f.fno}" th:unless="${f.userLike == 0}" >
         
            <svg id="likeIcon" class="like-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path d="M14 20.408c-.492.308-.903.546-1.192.709-.153.086-.308.17-.463.252h-.002a.75.75 0 0 1-.686 0 16.709 16.709 0 0 1-.465-.252 31.147 31.147 0 0 1-4.803-3.34C3.8 15.572 1 12.331 1 8.513 1 5.052 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262A31.146 31.146 0 0 1 14 20.408Z"></path>
            </svg> Liked(<span th:attr="id='likeCount-' + ${f.fno}" th:text="${f.cntLike}"></span>)
           
        </div>
        
        
        <form th:attr="id='likeForm-'+${f.fno}">
            <input type="hidden" name="aid" th:value="${session.a.aid}" />
            <input type="hidden" name="fno" th:value="${f.fno}" />
        </form>
    </td>

    
            <td onmouseover="this.style.background='#F0F3F4'"
               onmouseout="this.style.background='white'" class="modalButton"
                        th:attr="data-modal-id='myModal' + ${f.fno}"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                  height="24" >
        <path
                     d="M1.5 4.25c0-.966.784-1.75 1.75-1.75h17.5c.966 0 1.75.784 1.75 1.75v12.5a1.75 1.75 0 0 1-1.75 1.75h-9.69l-3.573 3.573A1.458 1.458 0 0 1 5 21.043V18.5H3.25a1.75 1.75 0 0 1-1.75-1.75ZM3.25 4a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h2.5a.75.75 0 0 1 .75.75v3.19l3.72-3.72a.749.749 0 0 1 .53-.22h10a.25.25 0 0 0 .25-.25V4.25a.25.25 0 0 0-.25-.25Z"></path>
    </svg> Comments(<span th:attr="id='CommentCount-' + ${f.fno}" th:text="${f.cntComment}"></span>)
         </tr>

      </tbody>
   </table>
   <!--댓글달기-->
                        
                           <h1 class="h2">댓글</h1>
                            <form th:attr="id='commentForm-'+${f.fno}">
                           <div class="d-flex">
                              <textarea data-autoresize=""
                                 class="form-control pe-5 bg-light flex-grow-1" rows="1"
                                 placeholder="Add a comment..." name="fcocomment"></textarea>
                                 
            <input type="hidden" name="aid" th:value="${session.a.aid}" />
            <input type="hidden" name="fno" th:value="${f.fno}" />
                              <button type="button" th:attr="id='commentButton-' + ${f.fno}" class="commentBtn btn btn-light">Add</button>
                           </div>
                           
                          
        </form>
                           <table class="table">

  <tbody th:attr="id='commentTable-'+${f.fno}">
	  
    <tr th:each="fco:${f.fcolist}">
      <td><div class="avatar avatar-story me-2">
                  <a href="#!"> <img class="avatar-img rounded-circle"
                           th:src="@{'/profile/' + ${fco.img}}" alt="" style="width: 55px; height: 55px;">
                        </a>
               </div></td>
      <td><label th:text="${fco.nick}"></label></td>
      <td><label th:text="${fco.fcocomment}"></label></td>
      <td><label th:text="${fco.fcodate}"></label></td>
      
    </tr>
  </tbody>
</table>
                        </div>
                     </div>
                  </div>
               </div>

               <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
               <script>
                  // 버튼과 모달 요소.
                  $(".modalButton").click(function() {
                     // 현재 클릭한 버튼의 data-modal-id 속성 값을 가져옴
                     var modalId = $(this).data("modal-id");
                     // 해당 ID의 모달을 찾아서 표시
                     $("#" + modalId).css("display", "block");
                  });

                  // 모달 닫기 버튼 클릭 이벤트 처리
                  $(".btn-close").click(function() {
                     // 현재 클릭한 닫기 버튼의 상위 모달 요소를 찾아서 닫음
                     $(this).closest(".modal").css("display", "none");
                  });
               </script>
            </div>
         </div>
      </div>




   </div>
   <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>