<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminClassPending">	
	
	<select id="getTotalRecord" resultType="java.lang.Integer">
		select count(*)
	    from class c
	    join confirm cf ON c.clno = cf.clno
	   	where cf.cfcd = '대기중'
	</select>
	
	

    <select id="findAll" resultType="adminClass">
	    SELECT clno, cltitle, cllevel, aid
	    FROM (
	      SELECT rownum n, c.clno, c.cltitle, c.cllevel, c.aid
	      FROM class c
	      JOIN confirm cf ON c.clno = cf.clno
	      WHERE cf.cfcd = '대기중'
	      <if test="searchColumn == 'all'">
	        AND (
	          cf.clno = #{keyword, jdbcType=NUMERIC}
	          OR cltitle LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%'
	          OR cllevel LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%'
	          OR aid LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%'
	        )
	      </if>
	      <if test="searchColumn == 'clno'">
	        AND cf.clno = #{keyword, jdbcType=NUMERIC}
	      </if>
	      <if test="searchColumn != null and searchColumn != 'all' and searchColumn != 'clno'">
	        AND ${searchColumn} LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%'
	      </if>
	      ORDER BY cf.clno ASC
	    ) a
	    WHERE a.n BETWEEN #{start} AND #{end}
	 </select>


	
	<select id="findByClno" resultType="adminClass">
	    SELECT c.*
	    FROM class c
	    JOIN confirm cf ON c.clno = cf.clno
	    WHERE c.clno = #{clno} AND cf.cfcd = '대기중'
	</select>



	
	<update id="update">
		 UPDATE confirm SET cfcd = #{cfcd} WHERE clno = #{clno}
	</update>

</mapper>
