<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminClass">	
	
	<select id="getTotalRecord" resultType="java.lang.Integer">
		select count(*)
	    from class c
	    join confirm cf ON c.clno = cf.clno
	   	where cf.cfcd = '승인'
	</select>
	
	<select id="findAll" resultType="adminClass">
	    select clno, cltitle, cllevel, aid from (
	        select rownum n, c.clno, c.cltitle, c.cllevel, c.aid
	        from class c
	        join confirm cf ON c.clno = cf.clno
	        where cf.cfcd = '승인'
	        order by c.clno
	    ) a
	    <include refid="searching"></include>
	    where a.n between #{start} and #{end}
	</select>
	

		
	<sql id="searching">
	    <where>
	        <choose>
	            <when test="searchColumn=='all'">
	                clno like '%' || #{keyword, jdbcType=NUMERIC } || '%'
	                or cltitle like '%' || #{keyword, jdbcType=VARCHAR } || '%'
	                or cllevel like '%' || #{keyword, jdbcType=VARCHAR } || '%'
	                or aid like '%' || #{keyword, jdbcType=VARCHAR } || '%'
	            </when>
	            <when test="searchColumn=='clno'">
	                clno like '%' || #{keyword, jdbcType=NUMERIC } || '%'
	            </when>
	            <otherwise>
	                <if test="searchColumn != null">
	                    ${searchColumn} like '%' || #{keyword, jdbcType=VARCHAR } || '%'
	                </if>
	            </otherwise>
	        </choose>
	    </where>
	</sql>


	
	<select id="findByClno" resultType="adminClass">
	    SELECT c.*
	    FROM class c
	    JOIN confirm cf ON c.clno = cf.clno
	    WHERE c.clno = #{clno} AND cf.cfcd = '승인'
	</select>



	
	<delete id="delete">
		delete class where clno=#{clno}
	</delete>

</mapper>
