<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminDashBoard">	
	
	<!-- 총 가입자 수 -->
	<select id="findTotalUsers" resultType="java.lang.Integer">
    	select count(aid) from account
  	</select>
  	
  	
	<!-- 일자별 신규 가입자 수 -->
  	<select id="findDailyUsers" resultType="AdminDashBoard">
        SELECT TO_CHAR(REGDATE, 'YYYY-MM-DD') AS REGDATE, NVL(COUNT(aid), 0) AS countaid
		FROM account
		WHERE REGDATE BETWEEN #{startDate} AND #{endDate}
		GROUP BY TO_CHAR(REGDATE, 'YYYY-MM-DD')
		ORDER BY REGDATE
    </select>
	
	<!-- 카테고리별 클래스 수 -->
	<select id="findClassByBca" resultType="AdminDashBoard">
	    select b.bcano, bcaname, count(clno) as countclno
	    from bcategory b, scategory s, class c
	    where b.bcano = s.bcano and s.scano=c.scano
	    group by b.bcano, bcaname
	    order by b.bcano
	</select>
	

	<!-- 일자별 신규 가입자 수 -->
  	<select id="findDailyClass" resultType="AdminDashBoard">
        SELECT TO_CHAR(CLREGDATE, 'YYYY-MM-DD') AS CLREGDATE, COUNT(CLNO)AS countclno
		FROM class
		WHERE CLREGDATE BETWEEN #{startDate} AND #{endDate}
		GROUP BY TO_CHAR(CLREGDATE, 'YYYY-MM-DD')
		ORDER BY CLREGDATE
    </select>
	
</mapper>