<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminQna">	

	<!-- 페이징 처리, 칼럼별 검색 -->
	<select id="findAll" resultType="adminqnainsert">
		select qino, qno, qca, qiname, qiemail, qititle, qicontent, qicondition, qidate from (
		select rownum n, qino, qno, qca, qiname, qiemail, qititle, qicontent, qicondition, qidate from (
		select qino, c.qno  qno, c.qca qca, qiname, qiemail, qititle, qicontent, qicondition, qidate 
		from qnainsert i, qcategory c where i.qno=c.qno order by qidate desc)
		where 
		<include refid="searchCondition"></include>
		<include refid="searching"></include>
		) a
		where a.n between #{start } and #{end }
	</select>
	
	<sql id="searchCondition">
		<choose>
			<when test="condition == '보냄'">
		 		qicondition like '보냄' and
			</when>
			<when test="condition == 'none'">
				qicondition is null and
			</when>
			<when test="condition == 'all'">
				(1=1) and
			</when>
		</choose>
	</sql>
		
	<!-- 추가할 sql문 -->
	<sql id="searching">
		${column} like '%' || #{keyword, jdbcType=VARCHAR } || '%'
	</sql>
	
	<!-- 페이징 처리, 칼럼별 검색 레코드 수 조회 -->
	<select id="getTotalForPage" resultType="java.lang.Integer">
		select count(distinct q.qino) from qnainsert q, qcategory c where q.qno=c.qno and
		<include refid="searching"></include>
	</select>
	
	<!-- 총 문의사항 수 -->
	<select id="getTotalQna" resultType="java.lang.Integer">
		select count(*) from qnainsert
	</select>
	
	<!-- 문의사항 상세 -->
	<select id="findQino" resultType="adminqnainsert">
		select qino, c.qno  qno, qca, qiname, qiemail, qititle, qicontent, qicondition, qidate 
		from qnainsert i, qcategory c 
		where i.qno=c.qno and qino = #{qino}
	</select>	
	
	<update id="updateCondition" parameterType="java.lang.Integer">
		update qnainsert set qicondition = '보냄' where qino = #{qino}
	</update>
</mapper>