<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminDashBoard">	
	
	<!-- 총 가입자 수 -->
	<select id="getTotalUsers" resultType="java.lang.Integer">
    	select count(aid) from account
  	</select>
  	
  	
	<!-- 일자별 신규 가입자 수 -->
  	<select id="getDailyUsers" resultType="adminDashBoard">
    	select regdate, count(aid) from account group by regdate order by regdate
  	</select>
  	
</mapper>