<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feed">	
	<select id="findAll" resultType="feed">
	
	
		select * from feed
	</select>	
	
	<select id="imgFindByFno" resultType="String">
		select imgname from image where fno = #{fno}
	</select>	
	
	
</mapper>