<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scategory">
	<select id="findscategory" resultType="scategory">
		select scano,bcano,scaname
		from scategory where bcano=#{bcano}
	</select>
</mapper>